<template>
    <div class="introduce pl-9 pr-9 pt-12 pb-[1px]">
        <div class="">
            <InputText label="Tiêu đề (Tiếng Việt)" placeholder="Nhập tiêu đề"></InputText>
        </div>
        <div class="mt-8">
            <InputText label="Slug (Tiếng VIệt)" placeholder="Nhập slug"></InputText>
        </div>
        <div class="mt-8 mb-13">
           <Editor placeholder="Nhập bài giới thiệu (Tiếng Việt)"  :height="457"></Editor>
        </div>
        <div class="mt-[40px]">
            <InputText class="" label="SEO Title (Tiếng Việt)" placeholder="Nhập SEO Title"></InputText>
        </div>
        <div class="mt-10" >
            <InputTextArea label="SEO Description (Tiếng Việt)" placeholder="Nhập mô tả"></InputTextArea>
        </div>
        <div class="mt-10">
            <InputText label="SEO Keyword (Tiếng VIệt)" placeholder="Nhập SEO Keyword"></InputText>
        </div>
        <div class="mt-10 seo">
            <div class="">{{ $t("seo") }}</div>
        </div>
        <div class="mt-[20px] mb-[48px]">
            <InputText label="Focus Keyword (Tiếng Việt)"></InputText>
        </div>
    </div>
    <div class="btn flex justify-center items-centers mt-[45px]">
        <ButtonBase class=" w-[180px] h-[42px]">
            <div>{{ $t("btn_submit") }}</div>
        </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import InputText from "@/components/common/InputText.vue"
import InputTextArea from "@/components/common/InputTextArea.vue"
import Editor from "@/components/elements/Editor.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("menu.default.ceo"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.ceo"),
    src: ''
  }
], NOT_SHOW_SELECT)

</script>
<style lang="scss">
.introduce{
    background-color: #fff;
    border-radius: 10px;
}
.seo{
    color: #3F4254;
    font-family: San Francisco Display;
}
</style>