<template>
    <div class="category-service pl-9 pr-9 pt-12 pb-[1px] ">
        <div class="input">
            <div class=" mb-[24px]">
                <InputText label="Tên (Tiếng Việt)" placeholder="Nhập tên category"></InputText>
            </div>
            <InputText class="mb-[24px]" label="Slug (Tiếng Việt)" placeholder="Nhập slug"></InputText>
            <UploadImage class="mb-8" label="Ảnh(387x387)"></UploadImage>
            <InputText class="mb-8" label="SEO Title (Tiếng Việt)" placeholder="Nhập SEO Title"></InputText>
            <div class="mt-[30px] mb-[30px]">
                <InputTextArea class="mb-8" label="SEO Description (Tiếng Việt)" placeholder="Nhập mô tả"></InputTextArea>
            </div>
            <div class="mt-[50px] mb-[30px]">
                <InputText class="pt-8" label="SEO Keyword (Tiếng Việt)" placeholder="Nhập SEO Keyword"></InputText>
            </div>
        </div>
        <div class="pb-[1px]">
            <div class="seo mb-4">{{ $t("seo") }}</div>
            <InputText label="Focus Keyword (Tiếng Việt)"></InputText>
            <ButtonBase class="w-[100px] h-[40px] mt-[10px] mb-[24px]">
                <div>{{ $t("btn_seo") }}</div>
            </ButtonBase>
        </div>
    </div>
    <div class="btn flex justify-center items-centers mt-[48px] ">
        <ButtonBase class=" w-[180px] h-[42px]">
            <div>{{ $t("btn_submit") }}</div>
        </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import InputText from '@/components/common/InputText.vue';
import InputTextArea from "@/components/common/InputTextArea.vue"
import UploadImage from "@/components/elements/UploadImage.vue";
import ButtonBase from "@/components/elements/ButtonBase.vue";
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("category.category_add"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.service"),
    src: ''
  },{
    title: t("category.category_service"),
    src: '/service/category_service'
  },{
    title: t("category.category_add"),
    src: ''
  }
], NOT_SHOW_SELECT)
</script>
<style lang="scss">
.category-service {
    background-color: #fff;
    border-radius: 10px;
}

.seo {
    color: #3F4254;
    font-family: San Francisco Display;
}
</style>