<template>
    <div class="add-listservice">
        <div class="g-btn pl-9 pr-9 pt-12 pb-[1px] mb-[20px]">
            <div class="name">
                <InputText class=" mb-[24px]" label="Tên dịch vụ (Tiếng Việt)" placeholder="Nhập tên dịch vụ"></InputText>
            </div>
            <div class="slug">
                <InputText class="mb-[24px]" label="Slug (Tiếng Việt)" placeholder="Nhập slug"></InputText>
            </div>
            <div class="category  ">
                <SelectOption class="color border-gray-05 mb-[24px]" placeholder="Chọn category"></SelectOption>
            </div>
            <div class="mt mb-[31px]">
                <InputTextArea label="Mô tả (Tiếng Viêt)" placeholder="Nhập mô tả"></InputTextArea>
            </div>
            <div class="price mb-[31px]">
                <InputText label="Giá tiền (đ)" placeholder="Nhập giá tiền"></InputText>
            </div>
            <div class="image mb-[32px]">
                <UploadImage placeholder="Ảnh dịch vụ (610x643px)"></UploadImage>
            </div>
        </div>
        <div class="image-before pl-9 pr-9 pt-12 pb-[2px] mb-[20px]">
            <div class="flex  items-center">
                <div
                    class=" border-b-2 border-gray-03 t-[40px] h-[24px] w-[130px] flex text-gray-700 text-base font-semibold">
                   {{ $t("service.before_after") }}</div>
                <div class=" pt-8 pb-4 pl-[12px] pt-[20px]">
                    <ButtonBase width="w-[82px]" height="h-[32px]" @click="addImage">
                        <div> {{ $t("btn_add") }} </div>
                    </ButtonBase>
                </div>
            </div>
            <div class="uploat-image" v-for="item in items" :key="item.id">
                <div class="flex justify-end">
                    <ButtonBase width="w-[74px] h-[26px]" style="background-color:#B5191A;" @click="removeImage(item.id)">
                        <div> {{ $t("btn_del") }} </div>
                    </ButtonBase>
                </div>
                <div class="rounded-lg border border-gray-04 h-[161px] mb-18 " style="margin-bottom: 58px;">
                    <div class="pl-10 flex justify-between items-center mt-12">
                        <div class="box-1">
                            <UploadImage label="Ảnh desktop (1220x400px)"></UploadImage>
                        </div>
                        <div class="mr-[200px]">
                            <UploadImage label="Ảnh mobile (414x230px)"></UploadImage>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seo pl-9 pr-9 pt-12 pb-[1px] mb-[45px]">
            <div class="title mb-[30px]">
                <InputText label="SEO Title (Tiếng Việt)" Placeholder="Nhập SEO Title"></InputText>
            </div>
            <div class="mb-[30px]">
                <InputTextArea label="SEO Description (Tiếng Việt)" placeholder="Nhập mô tả"></InputTextArea>
            </div>
            <div class="mb-[30px]">
                <InputText label="SEO Keyword (Tiếng Việt)" placeholder="Nhập SEO Keyword"></InputText>
            </div>
            <div class="mb-[20px]">
                <div>{{ $t("seo") }}</div>
            </div>
            <div class="  mb-[32px]">
                <InputText class="focus" label="Focus Keyword"></InputText>
            </div>
        </div>
        <div class=" flex justify-center items-center mb-[56px]">
            <ButtonBase class="w-[180px] h-[48px]">
                <div>{{ $t("btn_submit") }}</div>
            </ButtonBase>
        </div>
    </div>
</template>
<script setup lang="ts">
import InputText from "@/components/common/InputText.vue"
import InputTextArea from "@/components/common/InputTextArea.vue"
import UploadImage from "@/components/elements/UploadImage.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import SelectOption from "@/components/elements/SelectOption.vue"
import { reactive } from "vue"
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("service.btn_add"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.service"),
    src: ''
  },{
    title: t("menu.default.list_service"),
    src: '/service/list_service'
  },{
    title: t("service.btn_add"),
    src: ''
  }
], NOT_SHOW_SELECT)
const items = reactive([] as any[]);
const addImage = () => {
    const newItem = {
        id: items.length + 1,
    };
    items.push(newItem);
};
const removeImage = (itemId: number) => {
    const index = items.findIndex(item => item.id === itemId);
    if (index !== -1) {
        items.splice(index, 1);
    }
}
</script>
<style lang="scss">
.g-btn,
.seo,
.image-before {
    border-radius: 10px;
    background: #FFF;
}

.g-btn {
    .color {
        border-radius: 5px 5px 0px 0px;
        background: var(--200, #EDF2F7);
        color: #3F4254;
        font-family: San Francisco Display;
        border-bottom-width: 1px;

    }
}

.focus {
    background-color: #fff;
}
</style>