<template>
    <div class="add_qa pl-9 pr-9 pt-[40px] pb-[100px]">
        <div class="input ">
            <div class=" mb-[48px]">
                <InputTextArea class=" " label="Câu hỏi" placeholder="Nhập câu hỏi"></InputTextArea>
            </div>
            <div class="">
                <InputTextArea class="" label="Câu trả lời" placeholder="Nhập câu trả lời"></InputTextArea>
            </div>
        </div>
    </div>
    <div class="btn flex justify-center items-centers mt-[40px]">
        <ButtonBase class=" w-[180px] h-[42px]">
            <div>{{ $t("btn_submit") }}</div>
        </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import InputTextArea from "@/components/common/InputTextArea.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import { breadcrumbsStore } from "@/stores/breadcurmb";
import { NOT_SHOW_SELECT } from "@/utils/constant";
import { useI18n } from "vue-i18n";
const { t } = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("add.add_QA"), [
    {
        title: t("dashboard.title"),
        src: '/'
    }, {
        title: t("menu.default.qa"),
        src: '/qa/list'
    }, {
        title: t("add.add_QA"),
        src: ''
    }
], NOT_SHOW_SELECT)
</script>
<style scoped lang="scss">
.add_qa {
    background-color: #fff;
    border-radius: 10px;
}
</style>