<template>
    <div class=" home mb-7">
      <BanerHome></BanerHome>
    </div>
    <div class=" kirelbenefit mb-10">
      <KirelBenefit></KirelBenefit>
    </div>
    <div class=" flex justify-center items-center ">
      <ButtonBase class="w-[180px] h-[48px]">
        <div>{{ $t("btn_submit") }}</div>
      </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import BanerHome from "@/components/home/BannerHome.vue"
import KirelBenefit from "@/components/home/KirelBenefit.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("dashboard.title"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }
], NOT_SHOW_SELECT)
</script>
<style lang="scss">
.home,
.kirelbenefit {
  border-radius: 10px;
  background: #FFF;
}
</style>


