<template>
    <div class="banner-menu pl-9 pr-9 pt-[32px] pb-[1px]">
        <div class="flex items-center">
            <button @click="showBanner"
                class="custom-button h-[30px] w-[53px] pb-[8px] flex text-gray-700 text-base font-semibold"
                :class="{ 'active': showBannerPage }" id="bannerButton">
                {{ $t('home.kire_banner') }}
            </button>
            <button @click="showHashtag"
                class="custom-button click-hastag ml-[30px] h-[30px] w-[53px] pb-[8px] flex text-gray-700 text-base font-semibold"
                :class="{ 'active': !showBannerPage }" id="hashtagButton">
                {{ $t('menu.default.hastag') }}
            </button>
        </div>
        <div class="banner" v-if="showBannerPage">
            <div class="pt-[46px] pb-4">
                <ButtonBase width="w-[210px]" height="h-[32px]" @click="addImage">
                    <div>{{ $t('banner.btn_add') }}</div>
                </ButtonBase>
            </div>
            <div class="uploat-image" v-for="item in items" :key="item.id">
                <div class="flex justify-end">
                    <ButtonBase width="w-[74px] h-[26px]" style="background-color: #b5191a" @click="removeImage(item.id)">
                        <div>{{ $t('btn_del') }}</div>
                    </ButtonBase>
                </div>
                <div class="rounded-lg border border-gray-04 h-[161px] mb-18" style="margin-bottom: 58px">
                    <div class="up-image pl-10 flex justify-between items-center mt-12">
                        <div class="box-1">
                            <UploadImage label="Ảnh desktop (1220x400px)"></UploadImage>
                        </div>
                        <div class="box-2 mr-[200px]">
                            <UploadImage label="Ảnh mobile (414x230px)"></UploadImage>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="showSaveButton" class="flex justify-center items-center pt-[39px]">
                <ButtonBase class="w-[180px] h-[48px]">
                    <div> {{ $t('btn_submit') }} </div>
                </ButtonBase>
            </div>
        </div>
        <div class="" v-else>
            <div class="flex justify-end mb-4 mt-[24px]">
                <router-link to="/plus/banner_hastag/add">
                <ButtonBase class="w-[180px] h-[42px]">
                    <div>{{ $t('add.add_hastag') }}</div>
                </ButtonBase>
                </router-link>
            </div>
            <div class="">
                <BaseTable></BaseTable>
            </div>
        </div>
    </div>
</template>
<script setup lang="ts">
import ButtonBase from '@/components/elements/ButtonBase.vue'
import UploadImage from '@/components/elements/UploadImage.vue'
import BaseTable from '@/components/elements/BaseTable.vue'
import { reactive, ref } from 'vue'
import { breadcrumbsStore } from '@/stores/breadcurmb'
import { NOT_SHOW_SELECT } from '@/utils/constant'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
const breadcrumb = breadcrumbsStore()
breadcrumb.setBreadcrumb(
    t('menu.default.banner_hastag'),
    [
        {
            title: t('dashboard.title'),
            src: '/',
        },
        {
            title: t('menu.default.kirei_plus'),
            src: '',
        },
        {
            title: t('menu.default.banner_hastag'),
            src: '',
        },
    ],
    NOT_SHOW_SELECT,
)
const items = reactive([] as any[]);
const showSaveButton = ref(false)
const addImage = () => {
    const newItem = {
        id: items.length + 1,
    }
    items.push(newItem)
    showSaveButton.value = true
}
const removeImage = (itemId: number) => {
    const index = items.findIndex((item) => item.id === itemId)
    if (index !== -1) {
        items.splice(index, 1)
    }
    if (index === 0) {
        showSaveButton.value = false
    }
}
const showBannerPage = ref(true)

const showBanner = () => {
    showBannerPage.value = true;
    document.getElementById('bannerButton').classList.add('clicked');
}

const showHashtag = () => {
    showBannerPage.value = false;
    document.getElementById('hashtagButton').classList.add('clicked');
}
</script>
<style lang="scss">
.banner-menu {
    border-radius: 10px;
    background: #fff;
}

.custom-button:active,
.custom-button.active {
    color: #B5191A;
    text-decoration: underline;
}
@media screen and (max-width: 1360px){ 
    .box-2{
      margin-right: 10px;
     
    }
    .box-1{
        padding-left: 0px;
    }
    .up-image{
        padding-left: 15px;
    }
}
</style>