<template>
    <div class="category-neww pl-9 pr-9 pt-[48px] pb-[1px]">
        <div class="btn flex justify-end">
            <router-link to="/plus/category_news/add">
                <ButtonBase class="w-[180px] h-[42px] mb-[24px]">
                    <div>
                        {{ $t("category.category_add") }}
                    </div>
                </ButtonBase>
            </router-link>
        </div>
    </div>
</template>
<script setup lang="ts">
import BaseTable from "@/components/elments/BaseTable.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import { breadcrumbsStore } from '@/stores/breadcurmb'
import { NOT_SHOW_SELECT } from '@/utils/constant'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
const breadcrumb = breadcrumbsStore()
breadcrumb.setBreadcrumb(
    t('category.category_news'),
    [
        {
            title: t('dashboard.title'),
            src: '/',
        },
        {
            title: t('menu.default.kirei_plus'),
            src: '',
        },
        {
            title: t('category.category_news'),
            src: '',
        },
    ],
    NOT_SHOW_SELECT,)
</script>
<style lang="scss">
.category-neww {
    background-color: #fff;
    border-radius: 10px;
}
</style>
