<template>
    <div class="list-posts pl-9 pr-9 pb-1">
        <div class=" search flex items-center justify-between mb-[32px]  pt-[48px] w-full  ">
            <div class="flex items-center">
                <InputTextSearch class=" value-box1 w-[200px] " placeholder="Tên bài viết">
                </InputTextSearch>
                <div class=" value-box w-[200px] ml-[16px]">
                    <SelectOption class=" select h-[46px]" placeholder="Category"></SelectOption>
                </div>
                <div class=" value-box w-[200px]  ml-[16px]">
                    <SelectOption class="h-[46px]" placeholder="Hastag"></SelectOption>
                </div>
                <ButtonBase class="btn-search w-[136px] h-[46px] ml-[16px]">
                    <div>{{ $t("btn_search") }}</div>
                </ButtonBase>
            </div>
            <div class=" text-right">
                <router-link to="/plus/list_news/add">
                    <ButtonBase class=" btn w-[180px] h-[42px]">
                        <div> {{ $t("post.btn_add") }}</div>
                    </ButtonBase>
                </router-link>
            </div>
        </div>
        <div class="">
            <BaseTable></BaseTable>
        </div>
    </div>
</template>
<script setup lang="ts">
import ButtonBase from "@/components/elements/ButtonBase.vue"
import BaseTable from "@/components/elements/BaseTable.vue";
import InputTextSearch from "@/components/elements/InputTextSearch.vue"
import SelectOption from "@/components/elements/SelectOption.vue";
import { breadcrumbsStore } from '@/stores/breadcurmb'
import { NOT_SHOW_SELECT } from '@/utils/constant'
import { useI18n } from 'vue-i18n'
const { t } = useI18n()
const breadcrumb = breadcrumbsStore()
breadcrumb.setBreadcrumb(
    t('menu.default.list_news'),
    [
        {
            title: t('dashboard.title'),
            src: '/',
        },
        {
            title: t('menu.default.kirei_plus'),
            src: '',
        },
        {
            title: t('menu.default.list_news'),
            src: '',
        },
    ],
    NOT_SHOW_SELECT,
)
</script>
<style lang="scss">
.list-posts {
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 1366px) {
    .btn {
        width: 130px;
        height: 46px;
        margin-left: auto;
    }

    .value-box1 {
        width: 140px;
    }

    .value-box {
        width: 140px;
        margin-left: 10px;
    }

    .btn-search {
        width: 90px;
        margin-left: 10px;
    }
}
</style>