<template>
    <div class="qa pl-9 pr-9 pt-12">
        <div class="flex justify-end mb-4">
            <router-link to="/qa/list/add" >
                <ButtonBase class="w-[148px] h-[42px]">
                    <div>{{ $t("add.add_QA") }}</div>
                </ButtonBase>
            </router-link>
        </div>
        <div>
            <BaseTable></BaseTable>
        </div>
    </div>
</template>
<script setup lang="ts">
import BaseTable from "@/components/elements/BaseTable.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("menu.default.qa"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.qa"),
    src: ''
  }
], NOT_SHOW_SELECT)
</script>
<style scoped lang="scss">
.qa{
    background-color: #fff;
    border-radius : 10px
}
</style>