@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'San Francisco Display';
    src: url('/src/assets/fonts/San_Francisco/SanFranciscoDisplay-Medium.otf') format('woff2');
    
  }
.error {
    @apply text-color-error  text-[13px]
}
