<template>
    <div class="team-kirei pl-5 pr-5 pb-1 ">
        <div class="btn pt-[49px]">
            <div class="">
                <InputText label="Tiêu đề (Tiếng Việt)" Placeholder="Nhập tiêu đề"></InputText>
            </div>
            <div class="mt-[24px] mb-[49px]">
                <InputTextArea label="Mô tả (Tiếng VIệt)" placeholder="Nhập mô tả"></InputTextArea>
            </div>
        </div>
        <div class="member mb-[69px] ">
            <div class="flex  items-center">
                <div
                    class=" border-b-2 border-gray-06 t-[40px] h-[24px] w-[85px] flex text-gray-700 text-base font-semibold">
                    {{ $t("home.team_kirei") }}</div>
                <div class=" pt-8 pb-4 pl-[12px] pt-[20px]">
                    <ButtonBase width="w-[82px]" height="h-[32px]">
                        <div>{{ $t("btn_add") }}</div>
                    </ButtonBase>
                </div>
            </div>
            <div class="flex justify-end">
                <ButtonBase width="w-[74px] h-[26px]" style="background-color:#B5191A;" @click="removeImage(item.id)">
                    <div>{{ $t("btn_del") }}</div>
                </ButtonBase>
            </div>
            <div class="rounded-lg border border-gray-04  mb-18">
                <div class="pr-[20px] pl-[20px] mt-[30px]">
                    <div class="" style="border-bottom-width: 1px">
                        <InputText label="Họ tên (Tiếng Việt)" placeholder="Nhập họ và tên" row="2"></InputText>
                    </div>
                    <div class="mt-[28px] mb-[28px] ">
                        <InputText label="Chức vụ (Tiếng Việt)" placeholder="Nhập chức vụ" row="2"></InputText>
                    </div>
                    <div class="mb-10">
                        <InputTextArea label="Giới thiệu (Tiếng Việt)" placeholder="Nhập giới thiệu" row="4">
                        </InputTextArea>
                    </div>
                    <div class="image rounded-lg  h-[100px] mb-1 ">
                        <div class=" flex justify-between items-center mt-12">
                            <div class=" ml-[40px] box-1">
                                <UploadImage label="Ảnh 1 (386x514px)"></UploadImage>
                            </div>
                            <div class=" mr-[100px] box-2">
                                <UploadImage label="Ảnh 2 (386x514px)"></UploadImage>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script setup lang="ts">
import InputText from "@/components/common/InputText.vue"
import InputTextArea from "@/components/common/InputTextArea.vue"
import UploadImage from "@/components/elements/UploadImage.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import { breadcrumbsStore } from "@/stores/breadcurmb";
import { NOT_SHOW_SELECT } from "@/utils/constant";
import { useI18n } from "vue-i18n";
const { t } = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("menu.default.team_kire"), [
    {
        title: t("dashboard.title"),
        src: '/'
    }, {
        title: t("menu.default.team_kire"),
        src: ''
    }
], NOT_SHOW_SELECT)
</script>
<style lang="scss">
.team-kirei {
    background-color: #fff;
}
@media screen and (max-width: 1360px){ 
    .box-2{
      margin-right: 0px;
     
    }
    .box-1{
      margin-left: 0px;

    }
}

</style>