<template>
    <div class="banner-menu pl-9 pr-9 pt-12 ">
      <div class=" border-b-2 border-gray-03 t-[40px] h-[24px] w-[53px] flex text-gray-700 text-base font-semibold">{{ $t("home.kire_banner") }}
      </div>
      <div class="input-grid">
        <div class="pt-8">
          <div class="mb-10">
            <InputTextArea label="Title (Tiếng Việt)" placeholder="Nhập Title" row="2"></InputTextArea>
          </div>
          <div>
            <InputTextArea label="Mô tả (Tiếng Việt)" placeholder="Nhập mô tả" row="4"></InputTextArea>
          </div>
        </div>
      </div>
      <div class=" pt-8 pb-4">
        <ButtonBase width="w-[145px]" height="h-[40px]" @click="addImage">
          <div>{{ $t("banner.btn_add") }}</div>
        </ButtonBase>
      </div>
      <div class="uploat-image" v-for="item in items" :key="item.id">
        <div class="flex justify-end">
          <ButtonBase width="w-[74px] h-[26px]" style="background-color:#B5191A;" @click="removeImage(item.id)">
            <div> {{ $t("btn_del") }} </div>
          </ButtonBase>
        </div>
        <div class="image rounded-lg border border-gray-04 h-[161px] mb-18 " style="margin-bottom: 58px;">
          <div class=" flex justify-between items-center mt-12" >
            <div class=" pl-12 box-1">
              <UploadImage :label="item.labelDesktop"></UploadImage>
            </div>
            <div class="box-2 mr-[80px]">
              <UploadImage :label="item.labelMobile"></UploadImage>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-16">
        <InputText label="SEO Title (Tiếng Việt)" placeholder="Nhập SEO Title"></InputText>
      </div>
      <div class="mb-14 mt-9" >
        <InputTextArea label="SEO Description (Tiếng Việt)" row="4" placeholder="Nhập mô tả"></InputTextArea>
      </div>
      <div class="pb-14">
        <InputText label="SEO Keyword (Tiếng Việt)" placeholder="Nhập SEO Keyword"></InputText>
      </div>
    </div>
  </template>
  <script setup lang="ts">
  import InputTextArea from "@/components/common/InputTextArea.vue"
  import ButtonBase from "@/components/elements/ButtonBase.vue"
  import UploadImage from "@/components/elements/UploadImage.vue"
  import InputText from "@/components/common/InputText.vue"
  import { reactive, } from "vue"
  const items = reactive([] as any[]);
  const addImage = () => {
    const newItem = {
      id: items.length + 1,
      labelDesktop: "Ảnh desktop (1920x569px)",
      labelMobile: "Ảnh mobile (414x241px)"
    };
    items.push(newItem);
  };
  const removeImage = (itemId: number) => {
    const index = items.findIndex(item => item.id === itemId);
    if (index !== -1) {
      items.splice(index, 1);
    }
  }
  </script>
  <style scoped lang="scss">
  .banner-menu {
    font-family: San Francisco Display;
  }
 @media screen and (max-width: 1360px){ 
    .box-2{
      margin-right: 20px;
     
    }
    .box-1{
      padding-left: 10px;

    }
}
body {
  font-size: 16px;
  background-color: #ffffff;
}

/* CSS cho màn hình có độ rộng 1360px */

  </style>