
<template>
    <div class="banner-menu pl-9 pr-9 pb-1">
      <div class="flex  items-center">
        <div class=" border-b-2 border-gray-03 t-[40px] h-[24px] w-[102px] flex text-gray-700 text-base font-semibold">
         {{ $t("home.kire_bene") }}</div>
        <div class=" pt-8 pb-4 pl-[12px] pt-[20px]">
          <ButtonBase width="w-[82px]" height="h-[32px]" @click="addImage">
            <div>{{ $t("btn_add") }}</div>
          </ButtonBase>
        </div>
      </div>
      <div class="mb-[40px]" v-for="item in items" :key="item.id">
        <div class="flex justify-end">
          <ButtonBase width="w-[74px] h-[26px]" style="background-color:#B5191A;" @click="removeImage(item.id)">
            <div>{{ $t("btn_del") }}</div>
          </ButtonBase>
        </div>
        <div class="rounded-lg border border-gray-04  mb-18">
          <div class="pr-[26px] pl-[26px] mt-[30px]">
            <div class="" style="border-bottom-width: 1px">
              <InputText label="Tiêu đề (Tiếng Việt)" placeholder="Nhập tiêu đề" row="2"></InputText>
            </div>
            <div class="mt-[28px] mb-[28px] ">
              <InputText label="Mô tả ngắn (Tiếng Việt)" placeholder="Nhập mô tả ngắn" row="2"></InputText>
            </div>
            <div class="mb-10">
              <InputTextArea label="Mô tả (Tiếng Việt)" placeholder="Nhập mô tả" row="4"></InputTextArea>
            </div>
              <div class=" flex items-center mt-[24px] mb-[32px]">
                <div class="box-1">
                  <UploadImage :label="item.labelDesktop"></UploadImage>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script setup lang="ts">
  import InputTextArea from "@/components/common/InputTextArea.vue"
  import ButtonBase from "@/components/elements/ButtonBase.vue"
  import UploadImage from "@/components/elements/UploadImage.vue"
  import InputText from "@/components/common/InputText.vue"
  import { reactive, } from "vue"
  const items = reactive([] as any[]);
  const addImage = () => {
    const newItem = {
      id: items.length + 1,
      labelDesktop: "Ảnh desktop (1920x569px)",
      labelMobile: "Ảnh mobile (414x241px)"
    };
    items.push(newItem);
  };
  const removeImage = (itemId: number) => {
    const index = items.findIndex(item => item.id === itemId);
    if (index !== -1) {
      items.splice(index, 1);
    }
  }
  </script>
  <style scoped lang="scss">
  .banner-menu {
    font-family: San Francisco Display;
  }
  
  @media (max-width: 768px) {
  
    /* Styles for screens with a maximum width of 768px */
    .box-abc {
      height: auto;
      padding: 20px;
    }
  
    .box-2 {
      margin-right: 190px;
    }
  
    .upimage {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .box-2 {
      margin-right: 0;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
  
    /* Styles for screens with a maximum width of 480px */
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  }
  </style>