<template>
  <ul class="space-y-2 font-medium pr-3">
    <li v-for="(item, i) in props.menu" :key="i" :class="[item.active ? '' : '', 'px-3']">
      <div v-if="item.child && item.child.length > 0">
        <button type="button" @click="item.isShowChild = !item.isShowChild" class="flex items-center w-full p-2 text-[#6F6F71] transition duration-75
                                rounded-lg group " :class="item.active ? 'bg-[#F2F3F7]' : ''">
          <BaseIconSidebar :type="item.type" :active="item.active" :color="item.color" />
          <span class="flex-1 ml-3 text-left text-[#6F6F71]  " :class="[item.active ? 'text-[#B5191A] ' : '']">{{
            item.title
          }}</span>
          <BaseIconSidebar :type="'down'" :active="item.active" class="w-[20px]" />
        </button>
        <ul class="py-2 space-y-2  " v-if="item.isShowChild">
          <li v-for="(child, key) in item.child" class="transition duration-75 " :key="key">

            <span @click="goToDetail(child.src)" class="flex items-center w-full p-2  transition duration-75
                                   rounded-lg pl-7 group cursor-pointer"
              :class="[child.active ? ' rounded-[10px]  text-[#B5191A] menu-active' : ' text-[#6F6F71] ']">
              <BaseIconSidebar :type="child.type" :active="child.active" class="w-[20px] ml-3 flex-1" />
              <span class="flex-1 ml-3  ">{{ child.title }}</span>
            </span>
          </li>
        </ul>
      </div>
      <router-link :to="item.src" v-else class="flex items-center p-2 mb-3 text-[#6F6F71] rounded-lg "
        :class="[item.active ? 'menu-active rounded-[10px]' : '']">
        <span :title="isCloseMenu ? item.title : ''">
          <BaseIconSidebar :type="item.type" :active="item.active" />
        </span>
        <span v-if="!isCloseMenu" class="ml-3" :class="[item.active ? 'text-[#B5191A] ' : '']">{{
          item.title
        }}
        </span>
      </router-link>
    </li>
  </ul>
</template>
<script setup>
import BaseIconSidebar from "@/components/elements/BaseIconSidebar.vue";
import { useRoute, useRouter } from "vue-router";
import JwsService from "@/services/jws.service";

const props = defineProps({
  menu: {
    type: Array,
    default: () => []
  },
  isCloseMenu: {
    type: Boolean,
    default: () => false
  }
});
const emit = defineEmits(['openMenu'])
const router = useRouter()
const route = useRoute()
const goToDetail = (src) => {
  const projectId = route.params.slug_project ?? JwsService.getProjectIDDefault()
  const url = src.replace('{project_id}', projectId)
  router.push(url)
}
const openShowChild = (item) => {
  if (props.isCloseMenu) {
    emit('openMenu')
  }
  props.isCloseMenu = false
  item.isShowChild = !item.isShowChild
}
</script>
<style lang="scss">
span {
  font-family: San Francisco Display;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
}

.menu-active {
  box-shadow: inset -7px -7px 12px rgba(255, 255, 255, 0.9), inset 7px 7px 12px #E2E7F1;
  @apply rounded-r-[20px]
}
</style>


