<template>
    <div class="add_feedback pl-9 pr-9 pt-10 pb-10 ">
        <div class="input">
            <InputText class="mb-7" v-model="title" label="Họ tên (Tiếng việt)" placeholder="Nhập họ tên" />
            <InputText class=" mb-7" label="Khu vực (Tiếng việt)" placeholder="Nhập khu vực" />
            <SelectOption class="h-[64px] mb-7" placeholder="Chọn số sao" />
            <InputTextArea class="" label="Nội dung (Tiếng việt)" placeholder="Nhập nội dung" />
        </div>
        <div class=" flex items-center ">
            <div class="box-1  mt-[24px]">
                <UploadImage class=" mt-[24px]" label="Ảnh đại diện (80x80px)"/>
            </div>
        </div>
    </div>
    <div class="btn flex justify-center items-centers mt-[48px] ">
        <ButtonBase class=" w-[180px] h-[42px]">
            <div>{{ $t("btn_submit") }}</div>
        </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import InputText from "@/components/common/InputText.vue";
import InputTextArea from "@/components/common/InputTextArea.vue";
import SelectOption from "@/components/elements/SelectOption.vue";
import UploadImage from "@/components/elements/UploadImage.vue";
import ButtonBase from "@/components/elements/ButtonBase.vue"
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("add.add_feedback"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.feedback"),
    src:'/feedBack/'

  },
  {
    title: t("add.add_feedback"),
    src: ''
  }
], NOT_SHOW_SELECT)
</script>
<style scoped lang="scss">
.add_feedback {
    background-color: #fff;
    border-radius: 10px;
}
</style>
