<template>
    <div class="banner-menu pl-9 pr-9 pt-12 pb-[1px] ">
        <div class=" pb-4">
            <ButtonBase width="w-[210px]" height="h-[32px]" @click="addImage">
                <div> {{ $t("banner.btn_add") }}</div>
            </ButtonBase>
        </div>
        <div class="uploat-image" v-for="item in items" :key="item.id">
            <div class="flex justify-end">
                <ButtonBase width="w-[74px] h-[26px]" style="background-color:#B5191A;" @click="removeImage(item.id)">
                    <div>{{ $t("btn_del") }}</div>
                </ButtonBase>
            </div>
            <div class="rounded-lg border border-gray-04 h-[161px] mb-18 " style="margin-bottom: 58px;">
                <div class=" flex justify-between items-center mt-12">
                    <div class="pl-10 box-1">
                        <UploadImage label="Ảnh desktop (1220x400px)"></UploadImage>
                    </div>
                    <div class="box-2 mr-[200px]">
                        <UploadImage label="Ảnh mobile (414x230px)"></UploadImage>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="showSaveButton" class=" flex justify-center items-center pt-[39px] ">
        <ButtonBase class="w-[180px] h-[48px]">
            <div>{{ $t("btn_submit") }}</div>
        </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import ButtonBase from "@/components/elements/ButtonBase.vue"
import UploadImage from "@/components/elements/UploadImage.vue"
import { reactive,ref } from "vue"
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("menu.default.banner_service"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.service"),
    src: ''
  },{
    title: t("menu.default.banner_service"),
    src: ''
  }
], NOT_SHOW_SELECT)
const items = reactive([] as any[]);
const showSaveButton = ref(false);
const addImage = () => {
    const newItem = {
        id: items.length + 1,
    };
    items.push(newItem);
    showSaveButton.value = true;
};
const removeImage = (itemId: number) => {
    const index = items.findIndex(item => item.id === itemId);
    if (index !== -1) {
        items.splice(index, 1);
    }if(index === 0 ) {
        showSaveButton.value = false
    }
   
}

</script>
<style lang="scss">
.banner-menu {
    border-radius: 10px;
    background: #FFF;
}
@media screen and (max-width: 1360px){ 
    .box-2{
      margin-right: 20px;
     
    }
    .box-1{
      padding-left: 10px;

    }
}
</style>