<template>
  <div id="category-service">
    <div class="flex justify-end mb-4 " >
      <router-link to="/service/category_service/add">
      <ButtonBase  class="btn w-[180px] h-[42px] mt-[48px]">
        <div>{{ $t("category.category_add") }}</div>
      </ButtonBase>
      </router-link>
    </div>
    <div>
      <BaseTable :headers="headers" :show-more="false">
        <!-- <template #action="{ item }">
          <div class="flex justify-start md:w-[80px] 2xl:min-w-[120px]">
            <button class="md:mx-2 mx-[5px]" @click="editVipItem(item)">
              <img src="/src/assets/images/icons/icon-edit.svg" alt="icon-edit" class="w-[24px] h-[24px]">
            </button>
            <button class="md:mx-2 mx-[5px]" @click="delVipItem(item.id)">
              <img src="/src/assets/images/icons/icon-del.svg" alt="icon-del" class="w-[24px] h-[24px]">
            </button>
          </div>
        </template> -->
      </BaseTable>
    </div>
  </div>
</template>
<script setup lang="ts">
// import UploadImage from "@/components/elements/UploadImage.vue";
import ButtonBase from "@/components/elements/ButtonBase.vue";
import BaseTable from "@/components/elements/BaseTable.vue";
import { createRouter, createWebHistory } from "vue-router";
import { reactive, ref } from "vue";
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("category.category_service"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.service"),
    src: ''
  },{
    title: t("category.category_service"),
    src: ''
  }
], NOT_SHOW_SELECT)
const headers = ref([]);

const mountTableHeaders = () => {
  headers.value.push({ key: "id", title: "STT", width: "min-w-[52px]" });
  headers.value.push({ key: "name", title: "Tên", width: "min-w-[151px]" });
  headers.value.push({ key: "image", title: "Ảnh", width: "min-w-[350px]" });
  headers.value.push({ key: "action", title: "Actions", width: "min-w-[70px]" });
};

// Call the method to mount table headers
mountTableHeaders();


</script>
<style scoped lang="scss">
#category-service {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #2c3e50;
  margin-top: 2rem;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  background: #FFF;

}
.btn{
  text-color: #FFF;
  text-align: center;
  background: #333;
}


</style>
