<template>
    <div class="list-serice">
        <div class="input-grid w-[100%] ">
            <div class=" flex items-center justify-between  pt-[48px] w-full">
                <div class="flex items-center">
                    <div class="w-[200px] h-[46px]">
                        <SelectOption placeholder="Category"></SelectOption>
                    </div>
                    <div class="ml-[16px]">
                        <ButtonBase class="w-[136px] h-[46px] ">
                            <div>{{ $t("btn_search") }}</div>
                        </ButtonBase>
                    </div>
                </div>
                <div class="text-right">
                    <router-link to="/service/list_service/add">
                        <ButtonBase class="w-[180px] h-[46px]">
                            <div>{{ $t("service.btn_add") }}</div>
                        </ButtonBase>
                    </router-link>
                </div>
            </div>
        </div>
        <div class="mt-11">
            <BaseTable :headers="headers" >
                <!-- <template #action="{ item }">
          <div class="flex justify-start md:w-[80px] 2xl:min-w-[120px]">
            <button class="md:mx-2 mx-[5px]" @click="editVipItem(item)">
              <img src="/src/assets/images/icons/icon-edit.svg" alt="icon-edit" class="w-[24px] h-[24px]">
            </button>
            <button class="md:mx-2 mx-[5px]" @click="delVipItem(item.id)">
              <img src="/src/assets/images/icons/icon-del.svg" alt="icon-del" class="w-[24px] h-[24px]">
            </button>
          </div>
        </template> -->
            </BaseTable>
        </div>
    </div>
</template>
<script setup lang="ts">
import BaseTable from "@/components/elements/BaseTable.vue"
import SelectOption from "@/components/elements/SelectOption.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import { relative, ref } from "vue";
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("menu.default.list_service"), [
  {
    title: t("dashboard.title"),
    src: '/'
  },{
    title: t("menu.default.service"),
    src: ''
  },
   {
    title: t("menu.default.list_service"),
    src: ''
  }
], NOT_SHOW_SELECT)
const headers = ref([]);
const mountTableHeaders = () => {
    headers.value.push({ key: "id", title: "STT", width: "min-w-[52px]" });
    headers.value.push({ key: "name", title: "Category", width: "min-w-[151px]" });
    headers.value.push({ key: "image", title: "Tên dịch vụ", width: "min-w-[263px]" });
    headers.value.push({ key: "image", title: "Ảnh", width: "min-w-[100px]" });
    headers.value.push({ key: "image", title: "Mô tả", width: "min-w-[330px]" });
    headers.value.push({ key: "image", title: "Giá (đ)", width: "min-w-[151px]" });
    headers.value.push({ key: "action", title: "Actions", width: "min-w[50px]" });
};
mountTableHeaders();
</script>
<style lang="scss">
.list-serice {

    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #2c3e50;
    margin-top: 2rem;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    background: #FFF;
}

.input-grid {
    flex-direction: column;
    align-items: flex-start;

}

.flex-grow {
    // flex-grow: 1;
    justify-content: flex-start;
}

// .flex-center {
//     @apply flex justify-between items-center;
// }

// .list-serice {
//     @apply lg:pt-[32px] lg:px-[48px] pt-[16px];

//     .input-grid {
//         @apply flex justify-between mb-[16px];

//         @media screen and (max-width: 1310px) {
//             @apply flex-col;
//         }


//         .group-btn {
//             @apply grid md:grid-cols-3 gap-2 grid-cols-12;

//             .search_name {
//                 :deep(input) {
//                     @apply md:h-[40px] h-[32px] mr-4 md:text-[13px] text-[13px] leading-[20.27px];
//                 }
//             }

//             .btn-search {
//                 @apply bg-color-btn md:w-[40px] w-full md:h-[40px] h-[32px] flex items-center justify-center rounded-[5px] md:col-span-1 col-span-2;
//             }

//             .btn-wrapper {
//                 @apply border bg-white text-default-color border-default-bg font-[700] px-3 min-w-[146px];

//                 div {
//                     @extend .flex-center;
//                 }
//             }
//         }

//         .btn-add {
//             @apply w-[127px];

//             @media screen and (max-width: 1310px) {
//                 @apply mt-2;
//             }

//             :deep(button) {
//                 @apply h-[40px];
//             }

//             div {
//                 @apply pl-[13px] text-[16px] font-bold;
//             }
//         }
//     }

//     .select-btn {
//         @apply flex w-[30%] gap-2;
//     }

//     .table-container {
//         .table {
//             @apply mb-7 w-full;
//         }


//     }
// }
</style>