<template>
    <div class="feed-back pl-9 pr-9 ">
        <div class="flex justify-end mb-4 ">
            <router-link to="/feedBack/add">
                <ButtonBase class="btn w-[148px] h-[42px] mt-[32px]">
                    <div>{{ $t("add.add_feedback") }}</div>
                </ButtonBase>
            </router-link>
        </div>
        <div>
            <BaseTable></BaseTable>
        </div>
    </div>

</template>
<script setup lang="ts">
import BaseTable from "@/components/elements/BaseTable.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {NOT_SHOW_SELECT} from "@/utils/constant";
import {useI18n} from "vue-i18n";
const {t} = useI18n()
const breadcrumb = breadcrumbsStore();
breadcrumb.setBreadcrumb(t("menu.default.feedback"), [
  {
    title: t("dashboard.title"),
    src: '/'
  }, {
    title: t("menu.default.feedback"),
    src: ''
  }
], NOT_SHOW_SELECT)
</script>
<style scoped lsng="scss">
.feed-back {
    background-color: #fff;
    border-radius: 10px
}
</style>