<template>
  <div class="md:block hidden">
    <div class="flex cursor-pointer w-[100px]">
      <span><img src="@/assets/images/icons/back.svg" alt="back" class="mr-2"></span>
      <span class="text-[##333333] md:text-[16px] text-[13px] font-[500]">{{$t('back')}}</span>
    </div>
  </div>
  <div class="md:hidden block w-full my-[16px]">
    <div class="flex cursor-pointer w-[100px] items-center">
      <span><img src="@/assets/images/icons/Icon-back.svg" alt="back" class="mr-2"></span>
      <span class="font-[600] text-[##333333] md:text-[16px] text-[13px]">{{$t('back')}}</span>
    </div>
  </div>
</template>
<script setup lang="ts">
</script>