<template>
  <div id="baseTable">
    <div class="relative   sm:rounded-lg overflow-x-auto" id="hiddenScroll"  :class="!truncate ? 'pb-[100px]' : ''" :style="`height: ${height}px; overflow: auto;`">
      <table class="bg-white divide-y table-container border-collapse border-b w-full"
             :class="traditional ? 'display-mobile' : 'display-desktop'">
        <thead>
        <tr>
          <th scope="col" class="px-3 py-3 text-[16px] text-[#6F6F71] text-left "
              v-for="(header,i) in headers "
              :key="i"
              :class="[header && header.align,header && header.width]">
            <div :class="['whitespace-break-spaces',header && header.width, i == 0 ? 'text-left' : (header.align ? header.align : 'text-left')]">
              <slot :name="`header_${header.key}`" :index="i" :title="header.title" :class="header && header.width">
                <div>{{ header.title }}</div>
              </slot>
            </div>
          </th>
        </tr>
        </thead>
        <tbody class="  bg-white divide-y border-[#A1A1A1]" >
        <tr v-for="(item,i) in items" :key="i" :class="i % 2 === 0 ? 'bg-[#EEEEEE]' : ''">
          <td class=" pr-4 py-4 text-[16px] text-[#313131]   whitespace-nowrap "
              v-for="(header,j) in headers"
              :class="[header && header.padding ? header.padding :'mx-3',header.class, truncate ? 'truncate' : '']" :style="`background-color: ${getBackgroundColor(header.key)};`">
            <div :class="[header && header.width, 'whitespace-break-spaces',j == 0 ? 'text-left' : 'text-left']">
              <slot :name="header.key" :item="item" :index="i" :class="header && header.width">
                <div>{{ item[header.key] }}</div>
              </slot>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div v-if="!disablePagination" class="mt-6">
      <pagination
          :pagination="{
                          per_page: 1,
                          totalPage: pagination.totalPage,
                         }"
          :current-page="pagination.currentPage"
          @changePage="onPageChange"/>
    </div>
  </div>

</template>
<script setup lang="ts">
import {onMounted, ref} from "vue";
import Pagination from "@/components/elements/Pagination.vue";

const emit = defineEmits(['onPageChange'])
const props = defineProps({
  headers: {
    type: Array,
    default: ''
  },
  items: {
    type: Array,
    default: ''
  },
  pagination: {
    type: Object,
    default: () => ({})
  },
  disablePagination: {
    type: Boolean,
    default: false
  },
  traditional: {
    type: Boolean,
    default: false
  },
  showMore: {
    type: Boolean,
    default: true
  },
  truncate: {
    type: Boolean,
    default: true
  },
  height: {
    type: Number,
    default: 600
  }
});
const header_mobiles = ref([])
const onPageChange = (page) => {
  emit('onPageChange', page)
}

const openContent = (id: any) => {
  const elContent: any = document.getElementById('collapse-' + id);
  const btnOpen: any = document.getElementById('btn-open-' + id);
  const btnClose: any = document.getElementById('btn-close-' + id);
  elContent.classList.remove('hidden');
  btnOpen.classList.add('hidden');
  btnClose.classList.remove('hidden');
}

const closeContent = (id: any) => {
  const elContent: any = document.getElementById('collapse-' + id);
  const btnOpen: any = document.getElementById('btn-open-' + id);
  const btnClose: any = document.getElementById('btn-close-' + id);
  elContent.classList.add('hidden');
  btnOpen.classList.remove('hidden');
  btnClose.classList.add('hidden');
}

const getBackgroundColor = (key) => {
  if (key.includes('not_name_table_') || key.includes('not_condition_')) {
    return "#F8CBAD"
  }
  else if (key.includes('name_table_') || key.includes('condition_')) {
    return "#C6E0B4"
  }
  else {
    return "#FFF"
  }
}

onMounted(async () => {

  const hiddenScroll = document.getElementById('hiddenScroll');
  if (hiddenScroll) {
    let isDown = false;
    let startX;
    let scrollLeft;

    hiddenScroll.addEventListener('mousedown', function (e) {
      isDown = true;
      startX = e.pageX - hiddenScroll.offsetLeft;
      scrollLeft = hiddenScroll.scrollLeft;
    });

    hiddenScroll.addEventListener('mouseleave', function () {
      isDown = false;
    });

    hiddenScroll.addEventListener('mouseup', function () {
      isDown = false;
    });

    hiddenScroll.addEventListener('mousemove', function (e) {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - hiddenScroll.offsetLeft;
      const walk = (x - startX) * 3;
      hiddenScroll.scrollLeft = scrollLeft - walk;
    });
  }
  header_mobiles.value = await props.headers.filter(el => el.isShowMobile)
});



</script>
<style>

</style>
<style lang="scss">
  @media screen and (min-width: 769px) {
    .display-mobile {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .display-desktop {
      display: none;
    }
  }

  .header-top {
    @apply px-[12px];
    .item-header {
      @apply text-[14px] font-bold text-[#333333] text-left h-auto leading-[20px];
    }
  }

  .block-collapse {
    @apply rounded-lg w-full h-[48px];
    .item-header-collapse {
      @apply text-[#333333] text-[14px] leading-[20px];
      .text {
        @apply flex items-center text-left justify-start;
      }
    }
  }


.table-container {
  thead tr th {
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: 'San Francisco Display', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    border-bottom: 1px solid #A1A1A1;
    font-weight: 100;
  }
  tbody tr td {
    font-family: 'San Francisco Display', sans-serif;
    border-bottom: 1px solid #A1A1A1;
    // font-weight: 80
  } 
}
</style>

