<template>
  <!-- dashboard -->
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" v-if="type === 'dashboard'">
  <path d="M6.357 9C3.72 9.68 2 10.845 2 12.175C2 14.282 6.405 16 11.85 16C12.59 16 13.11 15.961 13.8 15.903" :stroke="props.active ? props.color : '#6F6F71'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M9.83711 15.9002C9.42411 15.3042 9.03111 14.7672 8.65711 14.1002C5.90611 9.20022 5.16911 4.33022 7.02711 3.22722C8.17711 2.53022 10.0741 3.48022 12.0011 5.48122" :stroke="props.active ? props.color : '#6F6F71'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.42922 15.387C5.72722 18.075 5.86922 20.103 6.98922 20.782C8.77222 21.862 12.3762 18.824 15.0322 13.978C15.3922 13.308 15.7152 12.649 16.0002 12" :stroke="props.active ? props.color : '#6F6F71'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M12 18.5216C13.928 20.5216 15.817 21.4716 16.978 20.7746C18.828 19.6726 18.099 14.8026 15.345 9.90156C14.961 9.22456 14.568 8.69756 14.165 8.10156" :stroke="props.active ? props.color : '#6F6F71'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M17.6602 15C20.2722 14.313 22.0002 13.15 22.0002 11.824C22.0002 9.714 17.5922 8 12.1552 8C11.4082 8 10.8892 8.029 10.2002 8.087" :stroke="props.active ? props.color : '#6F6F71'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M12.26 12.0148H12.25C12.24 12.1448 12.13 12.2548 11.99 12.2548C11.923 12.2514 11.8599 12.2227 11.8134 12.1744C11.7669 12.126 11.7407 12.0618 11.74 11.9948C11.74 11.8548 11.85 11.7448 11.98 11.7448H11.97C12.1 11.7348 12.22 11.8548 12.22 11.9848M8 11.9998C8.285 11.3398 8.607 10.6918 8.968 10.0218C11.615 5.17776 15.221 2.13176 17.014 3.22076C18.124 3.89976 18.276 5.92676 17.574 8.61376L8 11.9998Z" :stroke="props.active ? props.color : '#6F6F71'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

  <!--  text-->
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none" v-if="type === 'text'">
    <path d="M12 6H4V4H12V6ZM12 8H4V10H12V8ZM16 2V14L10 20H2C1.46957 20 0.960859 19.7893 0.585786 19.4142C0.210714 19.0391 0 18.5304 0 18V2C0 1.46957 0.210714 0.960859 0.585786 0.585786C0.960859 0.210714 1.46957 0 2 0H14C14.5304 0 15.0391 0.210714 15.4142 0.585786C15.7893 0.960859 16 1.46957 16 2ZM14 12V2H2V18H8V14C8 13.4696 8.21071 12.9609 8.58579 12.5858C8.96086 12.2107 9.46957 12 10 12H14Z" :fill="props.active ? props.color : '#6F6F71'"/>
  </svg>
  
  <!--whatskirei-->
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none" v-if="type === 'whatskirei'">
    <path d="M8.8 20H2C0.9 20 0 19.1 0 18V2C0 0.9 0.9 0 2 0H10L16 6V9.5C15.4 9.2 14.7 9.1 14 9V7H9V2H2V18H7.5C7.8 18.7 8.3 19.4 8.8 20Z" :fill="props.active ? props.color : '#6F6F71'"/>
  </svg>  
  
  <!--dịch vụ-->
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" v-if="type === 'service'">
  <g clip-path="url(#clip0_2018_5335)">
    <path d="M1.00371 18.9759C1.54895 19.521 2.48695 19.5506 3.04121 18.9963L8.73918 13.2983C9.13078 13.4481 9.55578 13.5304 10 13.5304C11.9496 13.5304 13.5305 11.9496 13.5305 9.99995C13.5305 9.4562 13.4074 8.94136 13.1879 8.48159L10.4895 11.18H9.51328L8.82305 10.4894V9.51362L11.5227 6.81401C11.0617 6.59331 10.5453 6.46948 10 6.46948C8.05039 6.46948 6.46953 8.05034 6.46953 9.99995C6.46953 10.4442 6.55184 10.8692 6.70164 11.2608L1.00371 16.9588C0.44668 17.5158 0.44668 18.4189 1.00371 18.9759Z" :fill="props.active ? props.color : '#6F6F71'"/>
    <path d="M20 11.25V8.75L18.6348 8.5793C18.5402 8.00273 18.3898 7.44531 18.1891 6.9125L19.2852 6.08242L18.0352 3.91758L16.7668 4.45273C16.4012 4.00742 15.9926 3.59883 15.5473 3.2332L16.0824 1.96484L13.9176 0.714844L13.0875 1.81094C12.5547 1.61016 11.9973 1.45977 11.4207 1.36523L11.25 0H8.75L8.5793 1.36523C8.00273 1.45977 7.44531 1.61016 6.9125 1.81094L6.08242 0.714844L3.91758 1.96484L4.45273 3.2332C4.00742 3.59883 3.59883 4.00742 3.2332 4.45273L1.96484 3.91758L0.714844 6.08242L1.81094 6.9125C1.61016 7.44531 1.45977 8.00273 1.36523 8.5793L0 8.75V11.25L1.36523 11.4207C1.45977 11.9973 1.61016 12.5547 1.81094 13.0875L0.714844 13.9176L1.32715 14.978L3.96754 12.3377C3.68539 11.6123 3.53027 10.8239 3.53027 10C3.53027 6.43258 6.43258 3.53027 10 3.53027C13.5674 3.53027 16.4697 6.43258 16.4697 10C16.4697 13.5674 13.5674 16.4697 10 16.4697C9.17605 16.4697 8.38781 16.3145 7.66246 16.0323L5.02199 18.6728L6.08242 19.2852L6.9125 18.1891C7.44531 18.3898 8.00273 18.5402 8.5793 18.6348L8.75 20H11.25L11.4207 18.6348C11.9973 18.5402 12.5547 18.3898 13.0875 18.1891L13.9176 19.2852L16.0824 18.0352L15.5473 16.7668C15.9926 16.4012 16.4012 15.9926 16.7668 15.5473L18.0352 16.0824L19.2852 13.9176L18.1891 13.0875C18.3898 12.5547 18.5402 11.9973 18.6348 11.4207L20 11.25Z" :fill="props.active ? props.color : '#6F6F71'"/>
  </g>
  <defs>
    <clipPath id="clip0_2018_5335">
      <rect width="20" height="20" fill="white"/>
    </clipPath>
  </defs>
</svg>

  <!-- list_kirei-->
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none" v-if="type === 'team_kire'">
  <path d="M12.7469 11.9971C13.7126 11.9971 14.4964 12.7809 14.4964 13.7466L14.4954 14.7084C14.6124 16.8979 12.9848 18.0046 10.0645 18.0046C7.15525 18.0046 5.49865 16.9149 5.49865 14.7464V13.7466C5.49865 12.7809 6.28246 11.9971 7.24822 11.9971H12.7469ZM1.74957 6.99828H6.1245C5.95006 7.67711 5.95677 8.38982 6.14396 9.06524C6.33114 9.74066 6.69226 10.3552 7.19124 10.8473L7.3532 10.9983L7.24822 10.9973C6.6482 10.9971 6.06458 11.1932 5.58641 11.5556C5.10824 11.9181 4.76177 12.427 4.59987 13.0048L4.56588 13.0058C1.65659 13.0058 0 11.9161 0 9.74761V8.74786C0 7.78209 0.783808 6.99828 1.74957 6.99828ZM18.2455 6.99828C19.2113 6.99828 19.9951 7.78209 19.9951 8.74786L19.9941 9.70962C20.1111 11.8991 18.4835 13.0058 15.5632 13.0058L15.3942 13.0038C15.2405 12.4592 14.9229 11.9752 14.4845 11.6175C14.0461 11.2597 13.5082 11.0456 12.9438 11.0043L12.7469 10.9973L12.6419 10.9983C13.1969 10.5108 13.6056 9.87887 13.8226 9.17279C14.0395 8.46671 14.0561 7.71426 13.8706 6.99928L18.2455 6.99828ZM9.99755 4.99877C10.3914 4.99877 10.7814 5.07635 11.1453 5.22708C11.5092 5.37781 11.8398 5.59873 12.1184 5.87724C12.3969 6.15575 12.6178 6.48638 12.7685 6.85027C12.9192 7.21416 12.9968 7.60417 12.9968 7.99804C12.9968 8.39191 12.9192 8.78192 12.7685 9.14581C12.6178 9.5097 12.3969 9.84033 12.1184 10.1188C11.8398 10.3973 11.5092 10.6183 11.1453 10.769C10.7814 10.9197 10.3914 10.9973 9.99755 10.9973C9.2021 10.9973 8.43922 10.6813 7.87675 10.1188C7.31428 9.55637 6.99828 8.79349 6.99828 7.99804C6.99828 7.20258 7.31428 6.43971 7.87675 5.87724C8.43922 5.31477 9.2021 4.99877 9.99755 4.99877ZM4.4989 0C5.29435 0 6.05723 0.315993 6.6197 0.878464C7.18217 1.44094 7.49816 2.20381 7.49816 2.99926C7.49816 3.79472 7.18217 4.55759 6.6197 5.12007C6.05723 5.68254 5.29435 5.99853 4.4989 5.99853C3.70344 5.99853 2.94057 5.68254 2.3781 5.12007C1.81563 4.55759 1.49963 3.79472 1.49963 2.99926C1.49963 2.20381 1.81563 1.44094 2.3781 0.878464C2.94057 0.315993 3.70344 0 4.4989 0ZM15.4962 0C16.2917 0 17.0545 0.315993 17.617 0.878464C18.1795 1.44094 18.4955 2.20381 18.4955 2.99926C18.4955 3.79472 18.1795 4.55759 17.617 5.12007C17.0545 5.68254 16.2917 5.99853 15.4962 5.99853C14.7007 5.99853 13.9379 5.68254 13.3754 5.12007C12.8129 4.55759 12.4969 3.79472 12.4969 2.99926C12.4969 2.20381 12.8129 1.44094 13.3754 0.878464C13.9379 0.315993 14.7007 0 15.4962 0Z" :fill="props.active ? props.color : '#6F6F71'"/>
</svg>


  <!--kireiplus-->
  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none" v-if="type === 'kireiplus'">
  <rect x="9.09766" y="5.58264" width="7.89498" height="7.89498" rx="1" transform="rotate(-45 9.09766 5.58264)" :fill="props.active ? props.color : '#6F6F71'"/>
  <rect x="10.7417" y="10.7936" width="9.20693" height="9.20693" rx="1" :fill="props.active ? props.color : '#6F6F71'"/>
  <rect y="10.7936" width="9.20693" height="9.20693" rx="1" :fill="props.active ? props.color : '#6F6F71'"/>
  <rect y="0.0513916" width="9.20693" height="9.20693" rx="1" :fill="props.active ? props.color : '#6F6F71'"/>
</svg>

  <!--Q/A-->
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" v-if="type === 'Q/A'">
  <g clip-path="url(#clip0_2018_5349)">
    <path d="M13.1687 12.46C13.4282 12.6323 13.7393 12.733 14.0734 12.733C14.321 12.733 14.5557 12.6776 14.7664 12.5789L14.0639 11.8764L14.8925 11.0478L15.5818 11.7371C15.6667 11.5391 15.7139 11.3212 15.7139 11.0925C15.7139 10.1879 14.978 9.45203 14.0734 9.45203C13.8233 9.45203 13.5862 9.50851 13.3739 9.60906V11.2433C13.3739 11.6693 13.3012 12.0786 13.1687 12.46Z" :fill="props.active ? props.color : '#6F6F71'"/>
    <path d="M17.4549 4.84875H13.3739V8.36825C13.5976 8.31075 13.832 8.28012 14.0734 8.28012C15.6242 8.28012 16.8858 9.54172 16.8858 11.0925C16.8858 11.6472 16.7237 12.1644 16.4454 12.6006L17.1457 13.3009L16.3171 14.1295L15.6244 13.4369C15.1795 13.7323 14.6464 13.9048 14.0735 13.9048C13.5386 13.9048 13.0381 13.7547 12.6119 13.4943C12.025 14.263 11.1461 14.7974 10.1418 14.9288V17.336L11.0612 17.3362V19.4804L16.1916 17.3362H17.4549C18.8583 17.3362 20 16.1945 20 14.7911V7.39391C20 5.99051 18.8583 4.84875 17.4549 4.84875Z" :fill="props.active ? props.color : '#6F6F71'"/>
    <path d="M2.54512 13.7884H3.8084L8.96988 15.9456V13.7884H9.65688C11.0603 13.7884 12.202 12.6466 12.202 11.2433V3.06477C12.202 1.66137 11.0603 0.519653 9.65688 0.519653H2.54512C1.14176 0.519653 0 1.66137 0 3.06477V11.2433C0 12.6466 1.14176 13.7884 2.54512 13.7884ZM5.61125 4.04657L6.60699 4.04555L8.61391 9.36356L7.51754 9.77731L7.04109 8.51481H5.16348L4.68223 9.77836L3.58711 9.36129L5.61125 4.04657Z" :fill="props.active ? props.color : '#6F6F71'"/>
    <path d="M6.59879 7.34295L6.10652 6.03857L5.60976 7.34295H6.59879Z" :fill="props.active ? props.color : '#6F6F71'"/>
  </g>
  <defs>
    <clipPath id="clip0_2018_5349">
      <rect width="20" height="20" fill="white"/>
    </clipPath>
  </defs>
</svg>

  <!--  feedback-->
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none" v-if="type === 'feedback'">
  <path d="M4 16H6V18H4V16ZM10 0L0 5V18H2V10H18V18H20V5L10 0ZM6 8H2V6H6V8ZM12 8H8V6H12V8ZM18 8H14V6H18V8ZM4 12H6V14H4V12ZM8 12H10V14H8V12ZM8 16H10V18H8V16ZM12 16H14V18H12V16Z" :fill="props.active ? props.color : '#6F6F71'"/>
</svg>

  <!--tuyện dụng-->
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" v-if="type === 'recruitment'">
  <g clip-path="url(#clip0_2018_5341)">
    <path d="M12.9769 11.4901C14.9405 8.81136 14.7133 5.03257 12.2921 2.61136C9.61936 -0.0613703 5.28603 -0.0613703 2.61024 2.61136C-0.0625146 5.28408 -0.0625146 9.61742 2.61024 12.2901C5.03146 14.7114 8.81327 14.9417 11.489 12.978C11.7708 12.772 12.0405 12.5417 12.292 12.2901C12.5436 12.0386 12.7739 11.7689 12.9769 11.4901ZM11.6799 10.6892V10.4962C11.6799 9.25072 10.6708 8.24166 9.42233 8.24166H8.69206L7.46782 10.578C7.46176 10.5932 7.43749 10.5932 7.43446 10.578L6.21024 8.24166H5.47691C4.23145 8.24166 3.22239 9.25075 3.22239 10.4962V10.687C2.51221 9.76187 2.12239 8.63727 2.12239 7.45072C2.12239 6.02648 2.67694 4.69011 3.683 3.68102C4.68903 2.67496 6.02845 2.12042 7.45267 2.12042C8.87385 2.12042 10.2133 2.67496 11.2193 3.68102C13.0921 5.55375 13.3193 8.46284 11.7557 10.5931C11.7318 10.6261 11.7046 10.6568 11.6799 10.6892Z" :fill="props.active ? props.color : '#6F6F71'"/>
    <path d="M18.9102 16.5659L14.786 12.4477L14.3587 12.8719L13.4072 11.9204C13.2042 12.1992 12.9708 12.4689 12.7193 12.7174C12.4709 12.9689 12.2042 13.1992 11.9224 13.4113L12.8708 14.3598L12.4436 14.784L16.5678 18.9113C17.2163 19.5537 18.2617 19.5537 18.9103 18.9113C19.5557 18.2628 19.5557 17.2143 18.9102 16.5659Z" :fill="props.active ? props.color : '#6F6F71'"/>
    <path d="M7.45145 2.97339C6.27842 2.97339 5.32751 3.92433 5.32751 5.09733C5.32751 6.27036 6.27845 8.04818 7.45145 8.04818C8.62445 8.04818 9.57545 6.27036 9.57545 5.09733C9.57542 3.92433 8.62445 2.97339 7.45145 2.97339Z" :fill="props.active ? props.color : '#6F6F71'"/>
  </g>
  <defs>
    <clipPath id="clip0_2018_5341">
      <rect width="20" height="20" fill="white"/>
    </clipPath>
  </defs>
</svg>

  <!--thông tin khách hàng-->
  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="19" viewBox="0 0 17 19" fill="none" v-if="type === 'info_customer'" >
  <path d="M14.2768 0H3.72768C2.49512 0.000558036 1.49595 0.999581 1.49554 2.23214V3.19643H0.446429C0.199777 3.19643 0 3.39634 0 3.64286C0 3.88937 0.199777 4.08929 0.446429 4.08929H1.49093V7.01786H0.446429C0.199777 7.01786 0 7.21763 0 7.46429C0 7.7108 0.199777 7.91071 0.446429 7.91071H1.49093V10.8393H0.446429C0.199777 10.8393 0 11.0392 0 11.2857C0 11.5324 0.199777 11.7321 0.446429 11.7321H1.49093V14.6607H0.446429C0.199777 14.6607 0 14.8606 0 15.1071C0 15.3537 0.199777 15.5536 0.446429 15.5536H1.49093V16.5179C1.49149 17.7504 2.49051 18.7494 3.72307 18.75H14.2722C15.5047 18.7494 16.504 17.7504 16.5043 16.5179V2.23214C16.5061 1.00042 15.5085 0.000837054 14.2768 0ZM15.6161 16.5179C15.6138 17.2566 15.0109 17.3905 14.2722 17.3926H8.82436H3.72307C2.98438 17.3905 2.39049 17.2566 2.38839 16.5179V15.5536H3.4329C3.67955 15.5536 3.87932 15.3537 3.87932 15.1071C3.87932 14.8606 3.67955 14.6607 3.4329 14.6607H2.38839V11.7321H3.4329C3.67955 11.7321 3.87932 11.5324 3.87932 11.2857C3.87932 11.0392 3.67955 10.8393 3.4329 10.8393H2.38839V7.91071H3.4329C3.67955 7.91071 3.87932 7.7108 3.87932 7.46429C3.87932 7.21763 3.67955 7.01786 3.4329 7.01786H2.38839V4.08929H3.4329C3.67955 4.08929 3.87932 3.88937 3.87932 3.64286C3.87932 3.39634 3.67955 3.19643 3.4329 3.19643H2.38839V2.23214C2.39049 1.49344 3.14062 1.39467 3.87932 1.39258H14.2722C15.0109 1.39467 15.6138 1.49344 15.6161 2.23214V16.5179Z" :fill="props.active ? props.color : '#6F6F71'"/>
  <path d="M9 9.24442C10.1957 9.24442 11.1652 8.27511 11.1652 7.07924C11.1652 5.88337 10.1957 4.91406 9 4.91406C7.80413 4.91406 6.83482 5.88337 6.83482 7.07924C6.83594 8.27455 7.80455 9.2433 9 9.24442Z" :fill="props.active ? props.color : '#6F6F71'"/>
  <path d="M9 9.96484C7.14286 9.96484 5.68736 11.4693 5.68736 13.3934C5.68806 13.6396 5.88756 13.8391 6.13379 13.8398H11.8661C12.1123 13.8391 12.3118 13.6396 12.3125 13.3934C12.3125 11.4693 10.857 9.96484 9 9.96484Z" :fill="props.active ? props.color : '#6F6F71'"/>
</svg>

<!-- chấm -->
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" v-if="type === 'ellipse'">
  <circle cx="6" cy="6" r="6" :fill="props.active ? props.color : '#6F6F71'"/>
</svg>

  <!--  down-->
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
  v-if="type === 'down' && !props.active">
  <path d="M4.00008 9.32738C3.9995 9.49815 4.03718 9.66688 4.11035 9.82117C4.18351 9.97546 4.29031 10.1114 4.4229 10.219L11.2794 15.74C11.4839 15.9081 11.7403 16 12.005 16C12.2697 16 12.5262 15.9081 12.7307 15.74L19.5872 10.0247C19.8205 9.83063 19.9673 9.55182 19.9952 9.24957C20.023 8.94731 19.9297 8.64637 19.7357 8.41293C19.5418 8.1795 19.263 8.0327 18.9609 8.00484C18.6587 7.97697 18.3578 8.07031 18.1245 8.26434L11.9993 13.3738L5.87419 8.4358C5.70645 8.29602 5.50219 8.20723 5.28559 8.17993C5.06898 8.15264 4.84909 8.18798 4.65193 8.28177C4.45478 8.37557 4.28861 8.52389 4.17309 8.70919C4.05757 8.8945 3.99753 9.10902 4.00008 9.32738Z" :fill="props.active ? props.color : '#6F6F71'"/>
</svg>

</template>
<script setup>
const props = defineProps({
  active: {
    type: Boolean,
    default: false
  },
  type: {
    type: String,
    required: true
  },
  color: {
    type: String,
    default: '#B5191A'
  },
  icon: {
    type: String,
    required: true
  },
});
</script>
