<template>
  <!--Third breadcrumb-->
  <div class="breadcrumb-grid">
    <nav>
      <ol class="flex">
        <li v-for="(item,i) in listItem" :key="i" class="flex items-center">
          <router-link
              v-if="item.sub "
              :to="item.src"
              class="item-router-link"
          >
            {{ item.title }}
          </router-link>
          <span class="mx-2" v-if="item.type === 'tab'">
              <img src="@/assets/images/icons/icon-nextt.svg" width="10"></span>
          <span :class="[item.class ? item.class :'item-text']" v-if="!item.sub ">{{ item.title }}</span>
        </li>
      </ol>
    </nav>
  </div>
</template>
<script setup>
import {computed, onMounted, ref, watch} from "vue";
import {breadcrumbsStore} from "@/stores/breadcurmb";
import {useRoute, useRouter} from "vue-router";

const breadcrumbs = breadcrumbsStore()
const listItem = computed(() => {
  const result = [];
  breadcrumbs.breadcrumbs.forEach((item, i) => {
    if (i < breadcrumbs.breadcrumbs.length - 1) {
      item.sub = true
      result.push(item)
      const object = {
        type: 'tab'
      }
      result.push(object)
    } else {
      item.sub = false
      result.push(item)
    }

  })
  return result
})


const route = useRoute()
const router = useRouter();
const currentRoute = router.currentRoute.value
const role = computed(() => auth.user.role)

</script>
<style lang="scss" scoped>
.breadcrumb-grid{
  font-family: San Francisco Display;
}
.flex-center {
  @apply flex justify-between items-center;
}

.breadcrumb-grid {
  @extend .flex-center;

  .item-router-link {
    @apply text-[14px] text-[#333333] font-medium leading-[20.27px] transition duration-150 ease-in-out;
  }

  .item-text {
    @apply text-[#33333399] text-[14px] font-light leading-[20.27px];
  }

  .btn-wrapper {
    @apply border bg-white text-default-color border-default-bg font-[700] px-3;
    div {
      @extend .flex-center;
    }
  }

  .select {
    @apply w-[340px] h-[48px] bg-white border border-[#C8C8C8] rounded-[8px] mr-8;
    :deep(.text-label) {
      @apply w-auto max-w-full;
    }
  }

}
</style>
