<template>
    <button :type="type" :disable="disable"
            :class="['rounded-[5px] text-[500] flex justify-center items-center',background,color,width,height]"
            :disabled="disabled"
            @click="$emit('onClick')">
        <slot>
            {{ props.title }}
        </slot>
    </button>
</template>
<script setup>
const props = defineProps({
    disabled: {
        type: Boolean,
        default: false
    },
    type: {
        type: String,
        default: 'submit'
    },
    title: {
        type: String,
        default: ''
    },
    width: {
        type: String,
        default: ''
    },
    color: {
        type: String,
        default: 'text-[#FFFFFF] '
    },
    background: {
        type: String,
        default: 'bg-color-btn'
    },
    height: {
        type: String,
        default: false
    },
    disable: {
        type: Boolean,
        required: false,
        default: false,
    }
})

</script>
