<template>
    <editor v-model="editorValue" :init="init"
            api-key='towxl6kpb200zefcr1z3cmmmmy6kqh54vontkmtbtgtklogp'></editor>
</template>
<script setup>
import {computed, reactive} from "vue";
import Editor from '@tinymce/tinymce-vue'

const emit = defineEmits(['update:modelValue'])
const props = defineProps({
    modelValue: {
        type: String,
        default: ''
    },
    height: {
        type: Number,
        default: 200
    }
});

const editorValue = computed({
    get: () => props.modelValue,
    set: (value) => emit('update:modelValue', value)
})
const plugins = [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks fullscreen',
    'insertdatetime media table hr code'
];
const toolbar = ' a11ycheck  | bold italic underline | fontsizeselect | forecolor backcolor ' +
    '| alignleft aligncenter alignright alignjustify|bullist numlist |outdent ' +
    'indent blockquote  | table  | link image media| removeformat   | undo redo'

const init = reactive({
    language: 'en',
    height: props.height,
    statusbar: false,
    content_css: true,
    plugins: plugins,
    toolbar: toolbar,
    powerpaste_allow_local_images: true,
    powerpaste_word_import: 'prompt',
    powerpaste_html_import: 'prompt',
    images_upload_handler: async function (
        blobInfo,
        success,
        failure
    ) {
        let imageFile = new FormData();
        imageFile.append("images[0]", blobInfo.blob());

        try {
            console.log(imageFile)

        } catch (error) {
            return;
        }
    }
});

</script>
