<script setup lang="ts">

import {computed, ref} from "vue";
import JwtService from "@/services/jwt.service.js";
import {authStore} from "@/stores/auth";
import JwsService from "@/services/jws.service.js";

const isShow = ref(false)

// function open() {
//   isShow.value = !isShow.value
// }

function close() {
  isShow.value = false
}

const vClickOutside = {
  mounted(el, binding) {
    el.__ClickOutsideHandle__ = (event) => {
      if (!(el === event.target || el.contains(event.target))) {
        binding.value(event)
      }
    }
    document.body.addEventListener('click', el.__ClickOutsideHandle__)
  },
  unmounted(el) {
    document.body.removeEventListener('click', el.__ClickOutsideHandle__)
  }
}

const auth = authStore();
const username = computed(() => auth?.user?.name)

function logout() {
  JwtService.destroyToken()
  JwsService.destroyProjectIDDefault()
  window.location.href = '/login'
}
</script>

<template>
  <div class="setting-account">
    <div class="flex items-center">

      <div class="account" v-click-outside="close">
        <!-- {{ username }} -->
        Admin
        
        <div class="dropdown" v-if="isShow">
          <div class="dropdown-box">
            <div class="item mb-[22px]" @click="openDialog">
              <img src="@/assets/images/icons/icon-change-pw.svg" alt="icon-change-pw">{{ $t('change_pw') }}
            </div>
            <div class="item" @click="logout">
              <img src="@/assets/images/icons/icon-log-out.svg" class="icon-log-out">{{ $t('log_out') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.setting-account {
  @apply pr-[24px];
  .notification-box {
    @apply w-[16px] h-[20px] min-w-[16px] min-h-[20px]  relative mr-[34px] cursor-pointer;
    img {
      @apply w-full h-full ;
    }

    div {
      top: -7px;
      @apply min-w-[18px] h-[18px] text-[10px] font-semibold rounded-[50%]  bg-[#FF5757] absolute text-center text-white  left-[10px];
    }
  }

  .dot {
    @apply p-[0.5px]  h-[34px] bg-[#CBCBCB];
  }

  .selectCountry {
    @apply border-none w-[138px] ;
  }

  .account {
    @apply text-[16px] leading-[26px] min-w-[138px]  ml-6 flex items-center relative justify-end;
    .icon-down {
      @apply ml-4  cursor-pointer;
    }
  }

  .dropdown {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    @apply absolute top-[25px] right-0 rounded-[10px] bg-white z-50 w-[188px];
    .dropdown-box {
      @apply py-[17px] px-[20px]  text-[#333333] text-[14px];
      .item {
        @apply flex cursor-pointer;
        img {
          @apply mr-3;
        }
      }
    }
  }
}
</style>