<template>
    <div class="label">
        {{ label }}<span class="text-red-700" v-if="isValidate"> *</span>
    </div>
</template>
<script lang="ts" setup>
const props = defineProps({
    label: {
        type: String,
        default: ''
    },
    isValidate: {
        type: Boolean,
        default: true
    },
})
</script>
<style lang="scss" scoped>
.label {
  @apply md:text-[16px] text-[13px] ;
}
@media only screen and (min-width: 1366px) and (max-width: 1700px), screen and (min-resolution: 2dppx) {
  .label {
    font-size: 13.6px !important;
  }
}
</style>
