<template>
  <div class="input-text" :class="disable ? 'pointer-events-none text-[#3F4254]' : 'text-[#3F4254]'">
    <Field :name="props.name ? props.name : 'file'" :type="props.type" as="input"
      :placeholder="props.placeholder ? props.placeholder : ''" class="input-value" v-model="value"
      :rules="props.rules ? props.rules : ''" />
    <ErrorMessage :name="props.name ? props.name : 'file'" class="error" />
    <div v-if="exist && props.name === fieldName" class="error">{{ $t(`message.${code}`) }}</div>
  </div>
</template>
<script setup>
import { Field, ErrorMessage } from "vee-validate";
import { computed, ref, watch } from "vue";

const props = defineProps({
  modelValue: {
    type: String,
    default: ''
  },
  icon: {
    type: String,
    default: ''
  },
  rules: {
    type: String,
    default: ''
  },
  fieldName: {
    type: String,
    default: 'email'
  },
  code: {
    type: String,
    default: 'AUT_10'
  },
  type: {
    type: String,
    default: 'text'
  },
  name: {
    type: String,
    default: ''
  },
  placeholder: {
    type: String,
    default: ''
  },
  disable: {
    type: Boolean,
    default: false
  },
  checkDataExist: {
    type: Boolean,
    default: false
  }
});

const exist = ref(false);

watch(props,
  (newValue) => {
    if (newValue) {
      exist.value = newValue.checkDataExist
    }
  },
)
const emit = defineEmits(['update:modelValue'])

const value = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value)
})
</script>
<style lang="scss" scoped>
.input-text {
  @apply relative;

  .input-value {
    @apply h-[46px] py-[14px] px-[16px] focus:outline-none w-full rounded-[8px]  placeholder-[#6F6F71];
    background-color: #DFDFDF;
    //color: #6F6F71;
    font-family: San Francisco Display;
    font-size: 16px;

  }
}
</style>
