<template>
  <div class="flex justify-end w-full">
    <ul v-if="total_pages > 1" class="flex pl-0 list-none rounded my-2">
      <li class="leading-tight bg-white border border-gray-300 border-r-0 ml-0 rounded-l hover:bg-blue-100 hover:text-blue-700 "
          :class="{'bg-gray-200': isInFirstPage}">
        <button type="button"
                class="py-2 px-3"
                :class="{'cursor-not-allowed': isInFirstPage}"
                :disabled="isInFirstPage"
                @click="gotoFirst">
          <img src="@/assets/images/icons/pagination1st.svg" alt="pagination1st">
        </button>
      </li>

      <li class="leading-tight bg-white border border-gray-300 border-r-0 hover:bg-blue-100 hover:text-blue-700 "
          :class="{'bg-gray-200': isInFirstPage}">

        <button type="button"
                class="py-2 px-3"
                :class="{'cursor-not-allowed': isInFirstPage}"
                :disabled="isInFirstPage"
                @click="gotoPrevious">
          <img src="@/assets/images/icons/pagination_pre.svg" alt="pagination_pre">
        </button>
      </li>

      <template v-if="showDots('left')">
        <li class="leading-tight bg-white border border-gray-300 border-r-0 hover:bg-blue-100 hover:text-blue-700 "
            :class="{'bg-gray-600': isInFirstPage}">
          <button type="button"
                  class="py-2 px-3"
                  :class="{'cursor-not-allowed': isInFirstPage}"
                  :disabled="isInFirstPage"
                  @click="gotoPageNumber(1)">
            1
          </button>
        </li>

        <li class="leading-tight bg-white border border-gray-300 border-r-0 hover:bg-blue-100 hover:text-blue-700 ">
          <button type="button"
                  class="py-2 px-3"
                  :disabled="true">
            ...
          </button>
        </li>
      </template>

      <li class="leading-tight bg-white border border-gray-300 border-r-0 hover:bg-blue-100 hover:text-blue-700 "
          v-for="(page, index) in pages"
          :key="`pages_${index}`"
          :class="{'classActive': page === currentPage}">
        <button type="button"
                class="py-2 px-3"
                :class="{'cursor-not-allowed': page === currentPage}"
                :disabled="page === currentPage"
                @click="gotoPageNumber(page)">
          {{ page }}
        </button>
      </li>

      <template v-if="showDots('right')">
        <li class="leading-tight bg-white border border-gray-300 border-r-0 hover:bg-blue-100 hover:text-blue-700 ">
          <button type="button"
                  class="py-2 px-3"
                  :disabled="true">
            ...
          </button>
        </li>

        <li class="leading-tight bg-white border border-gray-300 border-r-0 hover:bg-blue-100 hover:text-blue-700 "
            :class="{'bg-gray-600': isInLastPage}">
          <button type="button"
                  class="py-2 px-3"
                  :class="{'cursor-not-allowed': isInLastPage}"
                  :disabled="isInLastPage"
                  @click="gotoPageNumber(total_pages)">
            {{ total_pages }}
          </button>
        </li>
      </template>

      <li class="leading-tight bg-white border border-gray-300 border-r-0 hover:bg-blue-100 hover:text-blue-700 "
          :class="{'bg-gray-200': isInLastPage}">
        <button type="button"
                class="py-2 px-3"
                :class="{'cursor-not-allowed': isInLastPage}"
                :disabled="isInLastPage"
                @click="gotoNext">
          <img src="@/assets/images/icons/pagination_net.svg" alt="pagination_next">
        </button>
      </li>

      <li class="leading-tight bg-white border border-gray-300  rounded-r border-r hover:bg-blue-100 hover:text-blue-700 "
          :class="{'bg-gray-200': isInLastPage}">
        <button type="button"
                class="py-2 px-3"
                :class="{'cursor-not-allowed': isInLastPage}"
                :disabled="isInLastPage"
                @click="gotoLast">
          <img src="@/assets/images/icons/pagination_last.svg" alt="pagination_last">
        </button>
      </li>
    </ul>
  </div>
</template> 
<script setup>
import {computed, ref, watch} from "vue";
//import ButtonBase from "@/components/elements/ButtonBase.vue";
//import {usePaginationStore} from "@/stores/pagination";

const emit = defineEmits(['changePage'])
const props = defineProps({
  currentPage: {type: Number, required: true, default: 1},
  pagination: {type: Object, required: true, default: () => ({})},
  maxVisibleButtons: {type: Number, required: false, default: 3},
  itemProject: {
    type: Number,
    default: 10

  }
});
const total = ref(0)
const total_pages = ref(0)
//const paginationStore = usePaginationStore()

watch(props, (newval) => {
      total.value = parseInt(newval.pagination.totalPage)
      total_pages.value = Math.ceil(total.value / props.itemProject)
    },
    {
      deep: true,
      immediate: true
    })

const isInFirstPage = computed(() => {
  return props.currentPage === 1
})
const isInLastPage = computed(() => {
  return props.currentPage === total_pages.value
})
const pages = computed(() => {
  const range = []

  for (let i = startPage.value; i <= endPage.value; i += 1) {
    range.push(i)
  }

  return range
})

const startPage = computed(() => {
  if (props.currentPage === 1) {
    return 1
  }

  if (props.currentPage === total_pages.value) {
    const result = total_pages.value - props.maxVisibleButtons + 1
    return result > 1 ? result : 1
  }
  return props.currentPage - 1 > 1 ? props.currentPage - 1 : 1
})
const endPage = computed(() => {
  return Math.min(startPage.value + props.maxVisibleButtons - 1, total_pages.value)
})
const showDots = (position = "left") => {
  const number = position === "left" ? 1 : total_pages.value
  const nextNumber = position === "left" ? 2 : total_pages.value - 1

  return !pages.value.includes(number) || !pages.value.includes(nextNumber)
}

const gotoFirst = () => {
  gotoPageNumber(1)
}

const gotoLast = () => {
  gotoPageNumber(total_pages.value)
}

const gotoPrevious = () => {
  gotoPageNumber(props.currentPage - 1)
}

const gotoNext = () => {
  gotoPageNumber(props.currentPage + 1)
}

const gotoPageNumber = (pageNumber) => {
  paginationStore.setCurrentPage(pageNumber)
  window.scrollTo(0, 0);
  emit("changePage", pageNumber)
}

</script>
<style lang="scss" scoped>
button {
  @apply h-full;
}

.classActive {
  @apply bg-[#EEEEEE];
}
</style>
