<template>
  <div class="cms-select" :class="[bgSelect, disable ? 'text-disable' : 'text-[#333333]']" v-click-outside="hide">
    <div class="selected" @click="toggle">
      <div class="selected-wrapper">
        <div style="width: calc(100% - 40px)">
          <div class="item-selected-country" v-if="itemActive && props.isChooseCountry">
            <img width="30" :src="itemActive.icon">
            <span v-html="itemActive.name"></span>
          </div>
          <div
              class="text-label"
              :title="itemActive ? itemActive[itemText] : props.placeholder"
              :class="!itemActive || disable ? 'text-[#33333399]' : 'text-[#333333]'"
              v-else
              v-html="itemActive ? itemActive[itemText] : props.placeholder"
          >
          </div>
          <button v-if="clearable && itemActive" class="clear-button" @click="clearSelection">
            <img src="@/assets/images/icons/icon-close.svg" width="20" alt="Clear">
          </button>
        </div>
        <div>
          <img :src="iconDown" width="24" class="min-w-[24px]">
        </div>
      </div>
    </div>
    <div v-show="isOpen" :class="{ 'select-hide': !isOpen }" class="items" id="cms-select">
      <input
          v-if="search"
          v-model="searchText"
          type="text"
          class="search-input"
          :placeholder="$t('select_option.search')"
          ref="searchInput"
          @input="filterOptions"
      />
      <div
          v-for="(option, i) of filteredOptions"
          :key="i"
          :class="[
          selected && option[itemValue] && selected.toString() === option[itemValue].toString() ? 'active-select' : '',
          props.isChooseCountry ? 'h-auto' : 'h-[38px]',
          !props.isChooseCountry && i < filteredOptions.length - 1 ? 'border-b border-[#DDDDDD]' : ''
        ]"
          @click="changeValue(option)"
          class="item-wrapper"
      >
        <div class="item-grid">
          <div :title="option[itemText]" class="value-select">
            <div class="flex justify-center items-center" v-if="props.isChooseCountry">
              <img width="24" :src="option.icon"> <span class="ml-2" v-html="option.name"></span>
            </div>
            <div v-else class="truncate" v-html="option[itemText]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import iconDown from '@/assets/images/icons/down.svg'
import {computed, nextTick, ref, watch} from 'vue';
import {useI18n} from "vue-i18n";

const {t} = useI18n();

const props = defineProps({
  options: {
    type: Array,
    required: true,
  },
  modelValue: {
    type: [String, Number],
    default: '',
  },
  itemText: {
    type: String,
    default: 'name',
  },
  itemValue: {
    type: String,
    default: 'id',
  },
  disable: {
    type: Boolean,
    default: false,
  },
  search: {
    type: Boolean,
    default: false,
  },
  clearable: {
    type: Boolean,
    default: false,
  },
  isChooseCountry: {
    type: Boolean,
    default: false,
  },
  placeholder: {
    type: String,
    default: '',
  },
  bgSelect: {
    type: String,
    default: 'bg-select',
  },
});
const emit = defineEmits(['update:modelValue', 'getObject']);
const isOpen = ref(false);
const checked = ref(false);
const searchInput = ref(null);

const selected = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value),
});

const vClickOutside = {
  mounted(el, binding) {
    el.__ClickOutsideHandle__ = (event) => {
      if (!(el === event.target || el.contains(event.target))) {
        binding.value(event);
      }
    };
    document.body.addEventListener('click', el.__ClickOutsideHandle__);
  },
  unmounted(el) {
    document.body.removeEventListener('click', el.__ClickOutsideHandle__);
  },
};

const itemActive = computed(() => {
  if (props.options) {
    return props.options.find((item) => item[props.itemValue] == selected.value);
  }
  return '';
});

const searchText = ref('');
const filteredOptions = computed(() => {
  if (!searchText.value) {
    return props.options;
  }
  const searchTerm = searchText.value.toLowerCase();
  return props.options.filter((option) =>
      option[props.itemText].toLowerCase().includes(searchTerm)
  );
});

watch(
    props,
    (newValue) => {
      if (
          newValue.value &&
          newValue.options &&
          newValue.value.length === newValue.options.length &&
          newValue.value.length !== 0
      ) {
        checked.value = true;
      } else {
        checked.value = false;
      }
    },
    {immediate: true}
);

const toggle = () => {
  isOpen.value = !isOpen.value;
};

const hide = () => {
  isOpen.value = false;
};

const changeValue = (option) => {
  isOpen.value = false;
  selected.value = option[props.itemText];
  emit('update:modelValue', option[props.itemValue]);
  emit('getObject', option);
};

const filterOptions = (event) => {
  searchText.value = event.target.value;
};

const clearSelection = () => {
  isOpen.value = false;
  selected.value = '';
  emit('update:modelValue', '');
};

watch(
    () => isOpen.value,
    (isOpen) => {
      if (isOpen && isOpen == true) {
        nextTick(() => {
          if (searchInput && searchInput.value) searchInput.value.focus()
        });
      }
    },
);
</script>

<style lang="scss" scoped>
.text-disable {
  @apply pointer-events-none text-[#33333399] #{!important};
}

.cms-select {
  @apply relative w-full text-left  rounded-[8px] ;
  border-radius: 5px;
  background: #DFDFDF;
  .selected {
    @apply flex items-center bg-[#33333] rounded-[6px] cursor-pointer select-none h-full m-0;
    .selected-wrapper {
      @apply flex items-center justify-between w-full px-[16px] py-[14px] h-[40px];
      .item-selected-country {
        @apply flex justify-center items-center mr-[18px];
        span {
          @apply ml-2 text-[16px];
        }
      }

      .clear-button {
        @apply absolute top-[13px] right-[40px];
      }
    }

    .text-label {
      @apply truncate;
      color: #6F6F71;
      font-family: San Francisco Display;
    }
  }

  .items {
    @apply max-h-[200px] overflow-x-auto rounded absolute bg-[#333333] shadow-md w-full;
    border-radius: 0 0 5px 5px;
    position: absolute;
    background: #ffffff;
    top: 115%;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10);



    div {
      cursor: pointer;
      user-select: none;
    }

    .search-input {
      @apply w-full p-[8px] border-b border-[#DDDDDD] focus:outline-none;
    }

    .item-wrapper {
      @apply flex items-center;
      .item-grid {
        @apply flex items-center px-[16px] w-full;
        .value-select {
          @apply truncate text-[#333333] font-light;
        }
      }
    }
  }
}

.active-select {
  background-color: #DDDDDD;
}

.select-hide {
  display: none;
}
</style>
