<template>
  <div class="toasted-alert">
    <div
      id="toast-success"
      class="flex items-center px-5 py-2 mb-4 w-full max-w-xs text-gray-500 text-white rounded-lg shadow dark:text-gray-400"
      :class="
        props.content.type === 'success' ? 'bg-[#0ea640]' : 'bg-[#BC1619]'
      "
      role="alert"
    >
      <!-- <div class="text-sm font-normal">{{ $t(props.content.message) }}</div> -->
      <div class="text-sm font-normal">{{ props.content.message }}</div>
    </div>
  </div>
</template>
<script setup lang="ts">
const props = defineProps({
  content: {
    type: Object,
    default: () => ({
      type: "success",
      message: "Demo",
    }),
  },
});
</script>
<style lang="scss">
.toasted-alert {
  z-index: 1000000;
  @apply fixed right-[10px] top-[20%] lg:top-[20px];
  transition: opacity 2s ease-in-out;
}
</style>
