<template>
  <div class="image-container">
    <div class="image-wrapper">
      <img class="md:block hidden camera" src="@/assets/images/icons/icon_camera.svg" alt="camera">
      <div class="logo">
        <div class="logo__text" @change="onChange" >{{ label ? label : 'Ảnh đại diện (80x80px)' }} </div>
        <div class="logo-name">
          <input type="file" class="input" accept="image/png, image/jpeg" @change="onChange"> {{ imageName || $t("image.upload") }}
        </div>
      </div>
      <img v-if="image" :src="image" alt="camera" style="width:86px; height: 86px;">
      <img class="pic" v-else src="@/assets/images/icons/icon_pic.svg" style="margin-top: 0px;">
      <button v-if="image" class="delete-button" @click="deleteImage">X</button>
    </div>
    <!-- <input type="file" class="input" accept="image/png, image/jpeg" @change="onChange"> -->
  </div>
</template>
<script setup lang="ts">
import { computed, ref, watch } from "vue";
const image = ref(null);
const imageName = ref(null);
const emit = defineEmits(['update:modelValue']);
const props = defineProps({
  modelValue: {
    type: Blob || MediaSource,
    default: '',
  },
  label: {
    type: String,
    default: '',
  },
});

const file = computed({
  get: () => props.modelValue,
  set: (value) => {
    emit('update:modelValue', value);
    if (value) {
      if (typeof value === 'object' && value instanceof Blob) {
        image.value = URL.createObjectURL(value);
        imageName.value = value.name;
      } else {
        image.value = null;
        imageName.value = null;
      }
    } else {
      image.value = null;
      imageName.value = null;
    }
  },
});


watch(file, (value) => {
  if (!value) {
    image.value = null;
    imageName.value = null;
  }
}, { immediate: true, deep: true });

function onChange(e) {
  let files = e.target.files || e.dataTransfer.files;
  if (files) {
    file.value = files[0];
  }
}

function deleteImage() {
  file.value = null;
}

</script>  
<style scoped lang="scss">
/* ... */
.delete-button {
  position: absolute;
  top: 46px;
  left: 380px;
  font-size: 20px;
  color: #B5191A;
  width: 20px;
  height: 30px;
 
  border: none;
  
  cursor: pointer;
}


@media screen and (min-width: 769px) {
  .display-mobile {
    display: none;
  }
  .image-container {
  @apply relative w-full;
  width: 500px;

  .image-wrapper {
    @apply flex items-center w-full h-full;

    .logo {
      @apply ml-[14px] font-normal w-full;
      height: 25px;

      .logo__text {
        @apply text-[#7E8299] text-[13px] leading-[15.23px];
      }

      .logo-name {
        position: relative;
        max-width: calc(350px - 30px);
        border-color: #9E9E9E;
        margin-left: 0px;
        @apply pb-1 border-b w-full truncate text-[#3F4254] text-[16px] leading-[16.41px] pt-1;
      }
    }
  }

  .input {
    @apply absolute top-0 w-full h-full opacity-0 cursor-pointer;
  }

}
}

@media screen and (max-width:1366px) {
  .display-desktop {
    display: none;
  }
   
  .image-container {
  @apply relative w-full;
  width: 100%;

  .image-wrapper {
    @apply flex items-center w-full h-full;
    width: 380px;

    .logo {
      @apply ml-[14px] font-normal w-full;
      height: 25px;

      .logo__text {
        @apply text-[#7E8299] text-[13px] leading-[15.23px];
      }

      .logo-name {
        position: relative;
        max-width: calc(240px - 30px);
        border-color: #9E9E9E;
        margin-left: 0px;
        @apply pb-1 border-b w-full truncate text-[#3F4254] text-[16px] leading-[16.41px] pt-1;
      }
     
    }
  }
  .pic{
        width: 65px ;
        height: 65px
      }
      .delete-button{
        
    left: 272px;
    top: 48px;

      }

  .input {
    @apply absolute top-0 w-full h-full opacity-0 cursor-pointer;
  }

}
}

</style>