<template>
  <div class="input-text  border-gray-05 " style="border-bottom-width: 1px">
    <label class="input-label" :class="{ 'input-label--active': isInputFocused || hasValue }">
      {{ props.label }}
    </label>
    <div class="input-wrapper ">
      <input
          :name="props.name ? props.name : 'text'"
          :type="props.type"
          :placeholder="props.placeholder ? props.placeholder : ''"
          class="input-value px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-indigo-500" 
          :class="{ 'input-value--disabled': props.disable }"
          v-model="inputValue"
          @focus="onInputFocus"
          @blur="onInputBlur"
      />
      <div class="input-icon" v-if="props.icon">
        <i :class="props.icon"></i>
      </div>
    </div>
    <ErrorMessage :name="props.name ? props.name : 'text'" class="error text-red-500" />
    <div v-if="exist && props.name === fieldName" class="error text-red-500">
      {{ $t(`message.${code}`) }}
    </div>
  </div>
</template>

<script setup>
import {Field, ErrorMessage } from "vee-validate";
import { computed, ref, watch } from "vue";

const props = defineProps({
  modelValue: {
    type: String,
    default: "",
  },
  icon: {
    type: String,
    default: "",
  },
  rules: {
    type: String,
    default: "",
  },
  fieldName: {
    type: String,
    default: "email",
  },
  code: {
    type: String,
    default: "AUT_10",
  },
  type: {
    type: String,
    default: "text",
  },
  label: {
    type: String,
    default: "",
  },
  name: {
    type: String,
    default: "",
  },
  placeholder: {
    type: String,
    default: "",
  },
  disable: {
    type: Boolean,
    default: false,
  },
  checkDataExist: {
    type: Boolean,
    default: false,
  },
});

const exist = ref(false);
const isInputFocused = ref(false);
const inputValue = ref(props.modelValue);
const hasValue = computed(() => !!inputValue.value);

watch(
    props,
    (newValue) => {
      if (newValue) {
        exist.value = newValue.checkDataExist;
      }
    }
);

const emit = defineEmits(["update:modelValue"]);

const value = computed({
  get: () => props.modelValue,
  set: (newValue) => emit("update:modelValue", newValue),
});


const onInputFocus = () => {
  isInputFocused.value = true;
};

const onInputBlur = () => {
  isInputFocused.value = false;
  value.value = inputValue.value;
};
</script>

<style lang="scss" scoped>
.input-text {
  position: relative;
  // border-color: #4a90e2;
  border-radius: 5px 5px 0px 0px;
background: rgb(237, 242, 247);
}

.input-label {
  position: absolute;
  top: 1.3rem;
  left: 0.7rem;
  font-weight: bold;
  color: #3F4254;
  pointer-events: none;
  font-size: 1rem;
  opacity: 1;
  transition: all 0.2s ease;
  background: var(--200, #EDF2F7);
  z-index: 10;

  &.input-label--active,
  &.input-label--focused {
    opacity: 1;
    color: #767676;
    top: 0rem;
    font-size: 14px;
    background: var(--200, #EDF2F7);
    
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  // border: 1px solid #ccc;
  // border-radius: 0.375rem;
  padding-top: 1rem;
  padding-left:0px;
  padding-bottom: 5px;
  padding-right: 10px;
  transition: all 0.3s ease;
}

.input-value {
  flex: 1 1 auto;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  transition: all 0.3s ease;

  &:focus {
    border-color: #4a90e2;
  }
  &::placeholder{
    opacity: 0;
  }
  &.input-value--disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
  }

  &:focus::placeholder,
  &.input-value--disabled::placeholder {
    opacity: 0.5;
  }
}


.input-icon {
  padding: 0.5rem;
}

.error {
  color: red;
}
</style>
