<template>
  <div class="input-text ">
    <label class="input-label " :class="{ 'input-label--active': isInputFocused || hasValue }">
      {{ props.label }}
    </label>
    <div class="custom-textarea border-gray-05 " style="border-bottom-width: 1px">
      <textarea
          class="input-value bg-transparent focus:border-blue-500"
          :class="{ 'input-value--disabled': disable }"
          v-model="inputValue"
          :placeholder="props.placeholder ? props.placeholder : ''"
          :rows="row"
          :disabled="disable"
          maxlength="500"
          @focus="onInputFocus"
          @blur="onInputBlur"
      ></textarea>
      <div class="custom-textarea__outline"></div>
    </div>
    <ErrorMessage :name="name" class="error"/>
  </div>
</template>

<script setup>
import {ErrorMessage} from "vee-validate";
import {computed, defineProps, defineEmits, ref} from "vue";
const inputValue = ref(props.modelValue);
const hasValue = computed(() => !!inputValue.value);
const props = defineProps({
  modelValue: {
    type: String,
    default: '',
  },
  placeholder: {
    type: String,
    default: '',
  },
  rules: {
    type: String,
    default: '',
  },
  label: {
    type: String,
    default: "",
  },
  name: {
    type: String,
    default: 'note',
  },
  disable: {
    type: Boolean,
    default: false,
  },
  row: {
    type: Number,
    default: 4,
  },
});

const emit = defineEmits(['update:modelValue']);

const value = computed({
  get: () => props.modelValue,
  set: (value) => emit('update:modelValue', value),
});

const isInputFocused = ref(false);

const onInputFocus = () => {
  isInputFocused.value = true;
};

const onInputBlur = () => {
  isInputFocused.value = false;
  value.value = inputValue.value;

 
};
</script>

<style lang="scss" scoped>
.input-text {
  margin-bottom: 0px;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  background: var(--200, #EDF2F7);
}

.input-label {
  position: absolute;
  top: 1.5rem;
  left: 0.7rem;
  font-weight: bold;
  color: #3F4254;
  pointer-events: none;
  font-size: 1rem;
  opacity: 1;
  transition: all 0.2s ease;
  background: #EDF2F7;
  z-index: 10;

  line-height: normal;
  &.input-label--active,
  &.input-label--focused {
    opacity: 1;
    top: 0.4rem;
    font-size: 14px;
    color: #767676;
  }
}

.input-value {
   -ms-flex-item-align: stretch;
  /* align-self:stretch; */
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 1.75rem;
  max-width: 100%;
  min-height: 32px;
  outline: none;
  padding: 10px 0px 0px 10px;
  width: calc(100% - 10px);
  // border: 1px solid #ccc;
  // border-radius: 0.375rem;
  font-size: 1rem;
  resize: vertical;
  background-color: transparent;
  transition: all 0.2s ease;

  &:focus {
    border-color: #4a90e2;
  }
  &::placeholder{
    opacity: 0;
  }
  &.input-value--disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
    
  }

  &:focus::placeholder,
  &.input-value--disabled::placeholder {
    opacity: 0.5;
  }
}

.custom-textarea {
 position: relative;
  top :1rem ;
  background: var(--200, #EDF2F7);

}

.error {
  color: red;
}
</style>
