<template>
    <div class="add-hastag pl-9 pr-9 pt-[48px] pb-[1px]">
        <div class="">
            <InputText label="Tên Hastag (Tiếng Việt)" placeholder="Nhập hastag"></InputText>
        </div>
        <div class="flex items-center justify-between ">
            <InputText class="w-[80%] mt-[24px] mb-10" label="Slug (Tiếng Việt)" placeholder="Nhập slug"></InputText>
            <ButtonBase class="w-[100px] h-[61px] mb-[15px] mr-[4%]">
                <div>LẤY SLUG</div>
            </ButtonBase>
        </div>
    </div>
    <div class="flex justify-center items-center pt-[39px]">
        <ButtonBase class="w-[180px] h-[42px]">
            <div> {{ $t('btn_submit') }} </div>
        </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import InputText from "@/components/common/InputText.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import { breadcrumbsStore } from '@/stores/breadcurmb'
import { NOT_SHOW_SELECT } from '@/utils/constant'
import { useI18n } from 'vue-i18n'
import {ref} from 'vue'
const { t } = useI18n()
const breadcrumb = breadcrumbsStore()
breadcrumb.setBreadcrumb(
    t('add.add_hastag'),
    [
        {
            title: t('dashboard.title'),
            src: '/',
        }, {
            title: t('menu.default.kirei_plus'),
            src: '',
        }, {
            title: t('menu.default.banner_hastag'),
            src: '/plus/banner_hastag',
        }, {
            title: t('add.add_hastag'),
            src: '',
        },
    ],
    NOT_SHOW_SELECT,
)

</script>
<style lang="scss">
.add-hastag {
    background-color: #fff;
    border-radius: 10px;
}
</style>
