<template>
    <div class="introduce pl-9 pr-9 pt-12 pb-[1px]">
        <div class="w-[100%] category-box">
            <SelectOption class="h-[62px] mb-[24px] pt-[0px] pb-[0px]" placeholder="Chọn Category"></SelectOption>
        </div>
        <div class="">
            <InputText label="Tên bài viết (Tiếng Việt)" placeholder="Nhập tên bài viết"></InputText>
        </div>
        <div class="mt-8">
            <InputText label="Slug (Tiếng VIệt)" placeholder="Nhập slug"></InputText>
        </div>
        <div class="mb-[40px] mt-8">
            <InputTextArea class="" label="Mô tả ngắn (Tiếng Viêt)" placeholder="Nhập mô tả" row="2" ></InputTextArea>
        </div>
        <div class=" mt-8 mb-13">
           <Editor placeholder="Nhập bài viết (Tiếng Việt)"  :height="457"></Editor>
        </div>
        <div class="mt-8">
            <SelectOption class="h-[62px] mb-[24px] pt-[0px] pb-[0px]" placeholder="Chọn hastag"></SelectOption>
        </div>
        <div class="mt-[40px]">
            <UploadImage class="image-wrapper" label="Ảnh bìa (356x242px)"></UploadImage>
        </div>
        <div class="mt-[40px]">
            <InputText class="" label="SEO Title (Tiếng Việt)" placeholder="Nhập SEO Title"></InputText>
        </div>
        <div class="mt-10" >
            <InputTextArea label="SEO Description (Tiếng Việt)" placeholder="Nhập mô tả"></InputTextArea>
        </div>
        <div class="mt-10">
            <InputText label="SEO Keyword (Tiếng VIệt)" placeholder="Nhập SEO Keyword"></InputText>
        </div>
        <div class="mt-10 seo">
            <div class="">{{ $t("seo") }}</div>
        </div>
        <div class="mt-[20px] mb-[48px]">
            <InputText label="Focus Keyword (Tiếng Việt)"></InputText>
        </div>
    </div>
    <div class=" flex justify-center items-centers mt-[45px]">
        <ButtonBase class=" w-[180px] h-[42px]">
            <div>{{ $t("btn_submit") }}</div>
        </ButtonBase>
    </div>
</template>
<script setup lang="ts">
import InputText from "@/components/common/InputText.vue"
import InputTextArea from "@/components/common/InputTextArea.vue"
import Editor from "@/components/elements/Editor.vue"
import ButtonBase from "@/components/elements/ButtonBase.vue"
import UploadImage from "@/components/elements/UploadImage.vue"
import SelectOption from "@/components/elements/SelectOption.vue"
import { breadcrumbsStore } from '@/stores/breadcurmb'
import { NOT_SHOW_SELECT } from '@/utils/constant'
import { useI18n } from 'vue-i18n'
import {ref} from 'vue'
const { t } = useI18n()
const breadcrumb = breadcrumbsStore()
breadcrumb.setBreadcrumb(
    t('post.btn_add'),
    [
        {
            title: t('dashboard.title'),
            src: '/',
        }, {
            title: t('menu.default.kirei_plus'),
            src: '',
        }, {
            title: t('menu.default.list_news'),
            src: '/plus/list_news',
        }, {
            title: t('post.btn_add'),
            src: '',
        },
    ],
    NOT_SHOW_SELECT,
)

</script>
<style lang="scss">
.introduce{
    background-color: #fff;
    border-radius: 10px;
}
.seo{
    color: #3F4254;
    font-family: San Francisco Display;
}
.category-box{
    border-radius: 5px 5px 0px 0px;
background: var(--200, #EDF2F7);
}
.editors{
    border-radius: 7px;
border: 0.5px solid #a33232;
}
.image-wrapper{
    width: 380px;
}
</style>