
<template>
  <component :is="layout" class="xl:min-h-[100vh]">
    <router-view :key="path"/>
  </component>
</template>
<script setup>
import {useRoute, useRouter} from "vue-router";
import {ref, watch, computed} from "vue";
import LayoutDefault from "@/layouts/LayoutDefault.vue";
import LayoutAuth from "@/layouts/LayoutAuth.vue";

const listLayout = {
  LayoutDefault: LayoutDefault,
  LayoutAuth: LayoutAuth,
}
const layout = ref('')
const router = useRouter();
const route = useRoute();

const path = computed(() => route.fullPath)


router.beforeEach(async (to, from, next) => {
  console.log(to);
  layout.value = listLayout[to.meta?.layout]
  window.scrollTo(0, 0);
  next()
})

</script>
<style lang="scss">
body {
  @apply lg:bg-[#F8F8F8];
}
</style>
