<template>
  <div class="header-container-mobile">
    <div class="header-container-mobile-wrapper">
      <div class="content-left">
        <div class="btn-wrapper" v-click-outside="closeSidebar">
          <button type="button" @click="onClick" class="btn-open-sidebar">
            <span class="sr-only">Open sidebar</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect width="24" height="24" rx="5" fill="#404040" />
              <path d="M5.25 6H18.75V7.5H5.25V6ZM9.75 11.25H18.75V12.75H9.75V11.25ZM5.25 16.5H18.75V18H5.25V16.5Z"
                fill="white" />
            </svg>
          </button>
          <div class="dropdown" v-if="isOpen">
            <Sidebar :menu="MENU_LEFT" />
          </div>
        </div>
      </div>
      <div>
        <HeaderAccount></HeaderAccount>
      </div>
    </div>
  </div>
  <aside
    class=" box fixed top-0 left-0 z-40 h-screen bg-[#F2F3F7] transition-transform -translate-x-full lg:translate-x-0 "
    :class="isCloseMenu ? 'w-[6rem]' : 'w-80 aside'" style="transition: width 0.2s ease 0s;">

    <div class="h-full overflow-y-auto ">
      <div class="flex ml-[25px] items-center h-[46px] mt-[18px]  cursor-pointer mb-5" v-if="!isCloseMenu">
        <a href="/"><img :src="logo" width="219"></a>
      </div>
      <div class="py-4" :class="isCloseMenu ? 'px-0 mt-[86px]' : ''">
        <Sidebar :menu="MENU_LEFT" :isCloseMenu="isCloseMenu" @openMenu="isCloseMenu = false" />
      </div>
    </div>

  </aside>

  <div id="content" class="main-container" :class="isCloseMenu ? 'lg:ml-[6rem]' : 'lg:ml-80 ml-container'">
    <div class="title-grid">
      <div class="title">{{ breadcrumbs.title }}</div>
      <HeaderAccount></HeaderAccount>
    </div>
    <!-- <Notification v-if="route.name == 'Home' || (route.name == 'ScheduleStudent' && role == ROLE_STUDENT)"></Notification>
    <div class="content-wrapper" :class="route.name == 'Home' ? '' : 'px-4'">
      <Breadcrumb class="breadcrumb-component" />
      <ProjectSelect class="block lg:hidden" />
      <div class="content-slot-container ">
        <slot></slot>
      </div>
    </div> -->
    <div class="content-wrapper">
      <Breadcrumb class="h-[48px]" />
      <div class="content-slot-container">
        <slot></slot>
      </div>
    </div>
  </div>
  <!-- <Toasted v-if="toast.isToasted" :content="toast.content" />
  <Loading v-if="loading.isLoading" />
  <ChangePassword v-model="isChangePassword" :isAdmin="isAdmin" v-if="isChangePassword"></ChangePassword>

  <Dialog v-model="isShowPermisson" :is-close-on-outside="false">
    <div class="flex justify-center mb-4 px-[32px]">
      <img src="@/assets/images/icons/warning_1.svg" alt="icon-warning">
    </div>
    <div class="text-[#BC1619] text-[18px] font-bold text-center pb-[48px]">{{ $t('no_permisson') }}</div>
    <ButtonBase class="bg-default-color" @click="closePermissonDialog">{{ $t('export.btn_ok') }}</ButtonBase>
  </Dialog> -->

  <div class="background-content" v-show="isOpen" id="background-content"></div>
  <Toasted v-if="toast.isToasted" :content="toast.content" />
  <Loading v-if="loading.isLoading" />
</template>
<script setup lang="ts">
import { computed, onBeforeMount, onMounted, ref, watch } from "vue";
import logo from '@/assets/images/Main-logo.png'
import HeaderAccount from "@/components/elements/HeaderAccount.vue";
import { breadcrumbsStore } from "@/stores/breadcurmb";
import Breadcrumb from "@/components/elements/Breadcurmb.vue";
import { useRoute, useRouter } from "vue-router";
import { useI18n } from "vue-i18n";
import Sidebar from "@/components/sidebar.vue";
import Toasted from "@/components/elements/Toasted.vue";
import { toastStore } from "@/stores/toasted";
import { useMenuLeftStore } from "@/stores/menuLeft";
// import {authStore} from "@/stores/auth";
import Loading from "@/components/Loading.vue";
import { loadingStore } from "@/stores/loading";
// import {usePermissonStore} from "@/stores/permisson";
// import Pusher from "pusher-js";
// import {useNotificationStore} from "@/stores/notification";
// import Notification from "@/components/dashboard/Notification.vue";
// import Dialog from "@/components/elements/Dialog.vue";
// import ButtonBase from "@/components/elements/ButtonBase.vue";
// import {ROLE_STUDENT} from "@/utils/constant";
// import ChangePassword from "@/components/users/ChangePassword.vue";


const router = useRouter();
const route = useRoute();
const breadcrumbs = breadcrumbsStore()
const { t } = useI18n();
const loading = loadingStore()
// const permissonStore = usePermissonStore()
// const isShowPermisson = computed(() => !permissonStore.hasPermissonAccess)

const isOpen = ref(false)
const isCloseMenu = ref(false)

// const PUSHER_KEY = import.meta.env.VITE_PUSHER_KEY
// const PUSHER_APP_ID = import.meta.env.VITE_PUSHER_APP_ID
// const PUSHER_CLUSTER = import.meta.env.VITE_PUSHER_CLUSTER

const closeSidebar = () => {
  if (isOpen.value) {
    isOpen.value = false
  }
}
// const auth = authStore();
// const role = computed(() => auth.user.role)
// const user = computed(() => auth.user)
const menu = useMenuLeftStore();
// menu.getMenuLeft(value);
menu.getMenuLeft(0)
const MENU_LEFT = computed(() => menu.listMenuLeft)
// const isChangePassword = computed(() => auth.isChangePassword)

const toast = toastStore();
const statusToast = computed(() => toast.isToasted);

watch(
  statusToast,
  (newValue) => {
    if (newValue) {
      setTimeout(() => {
        toast.closeToast();
      }, 3000);
    }
  },
  {
    immediate: true,
    deep: true,
  }
);
onBeforeMount(() => {
  listenForChange()
})
// const notificationStore = useNotificationStore();
// watch(() => route,
//     (value) => {
//       closeSidebar();
//       if (value && value.name == 'Home' || (value.name == 'ScheduleStudent' && role.value == ROLE_STUDENT)) {
//         notificationStore.getListNotification();
//       }
//     },
//     {immediate: true, deep: true}
// )

// const closeMenu = () => {
//   isCloseMenu.value = !isCloseMenu.value
// }

const listenForChange = () => {
  // Pusher.logToConsole = true;
  // var pusher = new Pusher(PUSHER_KEY, {
  //   app_id: PUSHER_APP_ID,
  //   key: PUSHER_KEY,
  //   cluster: PUSHER_CLUSTER
  // });

  // var channel = pusher.subscribe('my-channel');
  // channel.bind('my-event', function (data) {
  //   if (data && data.message) {
  //     let message = JSON.parse(data.message)
  //     if (message.user_id) {
  //       if (user.value.id == message.user_id) {
  //         notificationStore.addMessage(data.message)
  //         notificationStore.countNotRead()
  //
  //       }
  //     } else {
  //       notificationStore.addMessage(data.message)
  //       notificationStore.countNotRead()
  //
  //     }
  //   }
  // });
}
const onClick = () => {
  isOpen.value = !isOpen.value
}

const vClickOutside = {
  mounted(el, binding) {
    el.__ClickOutsideHandle__ = (event) => {
      binding.value(event)
    }
    const content = document.getElementById('content')
    const background_content = document.getElementById('background-content')
    if (content) {
      content.addEventListener('click', el.__ClickOutsideHandle__)
      background_content.addEventListener('click', el.__ClickOutsideHandle__)
    }
  },
  unmounted(el) {
    const content = document.getElementById('content')
    const background_content = document.getElementById('background-content')
    if (content) {
      content.removeEventListener('click', el.__ClickOutsideHandle__)
      background_content.removeEventListener('click', el.__ClickOutsideHandle__)
    }
  }
}
onMounted(async () => {
  await router.isReady();
  setActiveProject()
})

watch(
  route,
  () => {
    setActiveProject()
  },
  {
    deep: true,
  }
);

const closePermissonDialog = () => {
  router.go(-1)
  permissonStore.set(true)
}

const setActiveProject = () => {
  const leftMenu = Object.values(MENU_LEFT.value)
  leftMenu.forEach(item => {
    item.active = false
    if (item.name.includes(route.name)) {
      item.active = true
    }
    if (item.child && item.child.length > 0) {
      item.isShowChild = false
      item.child.forEach(item1 => {
        item1.active = false
        if (item1.name.includes(route.name)) {
          item1.active = true
          item.active = true
          item.isShowChild = true
        }
      })
    }
  })
}

</script>
<style lang="scss">
.header-container-mobile {
  position: sticky;
  top: 0;
  background-color: #F2F3F7;
  z-index: 30;
}

.background-content {
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  @apply lg:hidden
}

.header-container-mobile-wrapper {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

  @apply flex items-center justify-between py-[18px] px-4 lg:hidden relative bg-white w-full md:h-[60px] min-h-[60px];

  .content-left {
    @apply flex items-center;

    .btn-wrapper {
      z-index: 50;
      @apply relative;

      .btn-open-sidebar {
        @apply inline-flex items-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200;
      }

      .dropdown {
        z-index: 100;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
       // @apply absolute left-0 rounded-[10px] bg-white min-w-[299px] overflow-hidden p-[10px];
      }
    }


    .title {
      @apply text-[#333333] md:text-[18px] text-[16px] ml-4 font-bold;
      color: #B5191A;
      font-family: San Francisco Display;
    }
  }

}

.main-container {
  @apply lg:bg-[#F8F8F8];

  .title-grid {

    @apply min-h-[86px] bg-[#F8F8F8] flex items-center justify-between w-full sticky top-0 pl-[24px] z-30;

    @media screen and (max-width: 1023px) {
      @apply hidden;
    }

    .title {
      @apply font-bold text-[24px] leading-[34px] text-[#333333];
      color: #B5191A;
      font-family: San Francisco Display;

    }

  }

  .content-wrapper {
    @apply lg:bg-[#F8F8F8] h-full lg:px-[24px] pb-[30px];

    .breadcrumb-component {
      @apply h-[72px];

      @media screen and (max-width: 1023px) {
        @apply hidden;
      }
    }

    .content-slot-container {
      @apply rounded-[10px] bg-white h-full w-full pb-[2px];
      background-color: #F8F8F8;
    }
  }

}

@media screen and (min-width: 1360px) and (max-width: 1700px),
screen and (min-width: 2000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .aside {
    @apply w-[20rem]
  }

  .ml-container {
    margin-left: 17rem !important;
  }

  .main-container>.title-grid {
    min-height: 70px;


    .title {
      font-size: 22px;
      color: #B5191A;
      font-family: San Francisco Display;

    }
  }

  .icon-menu {
    width: 35px;
    height: 35px;
  }
}

aside.box {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
</style>
