<template>
  <div class="layout-auth">
    <button class="md:hidden block ml-2 " v-if="checkPath" @click="goBack">
      <Back/>
    </button>
    <div class="content-slot">
      <div class="w-full">
        <button class="md:block hidden mb-4" v-if="checkPath" @click="goBack">
          <Back/>
        </button>
        <div class="flex justify-center items-center">
          <img class="imgLogo" :src="logo">
        </div>
        <slot></slot>
      </div>
    </div>
<!--    <Toasted v-if="toast.isToasted" :content="toast.content"/>-->
<!--    <Loading v-if="loading.isLoading"/>-->
  </div>
</template>
<script setup>
import logo from '@/assets/images/Main-logo.png'
// import Loading from "@/components/Loading.vue";
// import Toasted from "@/components/elements/Toasted.vue";
// import {toastStore} from "@/stores/toasted";
import {computed, onMounted, ref, watch} from "vue";
// import {loadingStore} from "@/stores/loading";
import Back from "@/components/elements/Back.vue";
import {useRoute,useRouter} from "vue-router";

// const toast = toastStore();
// const statusToast = computed(() => toast.isToasted);
// const loading = loadingStore()
const route = useRoute();
// const router = useRouter();

const checkPath = ref(false);
// watch(
//     statusToast,
//     (newValue) => {
//       if (newValue) {
//         setTimeout(() => {
//           toast.closeToast();
//         }, 3000);
//       }
//     },
//     {
//       immediate: true,
//       deep: true,
//     }
// );
watch(
    route,
    (newValue) => {
      if (newValue && newValue.path == '/send-email') {
        checkPath.value = true
      }
    },
    {
      immediate: true,
      deep: true,
    }
);

const goBack = () => {
  window.location.href = '/login'
}
</script>
<style lang="scss" scoped>
.layout-auth {
  background-image: url('@/assets/images/background.png');
  @apply bg-no-repeat bg-cover bg-center lg:w-full md:w-[80%] sm:w-[80%] sm:mx-auto ;
  @media screen and (max-width: 1023.5px) {
    @apply bg-none;
  }

  .content-slot {
    @apply  lg:float-right lg:w-[466px] lg:h-[517px] lg:mr-[15%] sm:mt-[160px] px-[16px] ;
    @media (min-width: 100px){
      @apply mt-[90px]
    }
    @media (min-width: 1024px){
      @apply mr-[30%] mt-[6%]
    }
    @media (min-width: 1280px) {
      @apply m-auto mr-[15%] mt-[6%]
    }
  }
  .imgLogo{
    @apply lg:w-[324px] h-[104px];
    @media (min-width: 1024px){
      @apply m-auto mt-[3%]
    }
    @media  screen and (min-width: 1360px) and (max-width: 1700px),screen and (min-width: 2000px) and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {
      @apply lg:w-[280px] h-[88px]
    }
  }
}
</style>
